---
import { getImageUrl } from "./../../../../typescript/functions/media_plugin";
import type { AdvantageItem } from "./../../../../typescript/types/components";
import { Img } from "astro-imagetools/components";

interface Props {
    data: AdvantageItem;
}

const { data } = Astro.props;
---

<div class="p-4 mx-auto bg-zinc-900 rounded-xl">
    <div
        class="flex mx-auto items-center justify-center p-8 pb-12 lg:flex lg:(p-0 pb-8)"
    >
        <Img
            src={getImageUrl(data.image)}
            alt="advantage_item"
            placeholder="none"
            width={200}
        />
    </div>
    <h2 class="mb-2 text-2xl font-semibold text-center lg:h-12">
        {data.headline}
    </h2>
    <p class="text-center text-md">
        {data.content}
    </p>
</div>
