---
import type { Embed } from "@components/strapidynamic/typescript/types";

interface Props {
    data: Embed;
}

const { data } = Astro.props;

function isAutoplayable() {
    if (data.autoplay) {
        return "autoplay=1&mute=1&";
    } else {
        return "";
    }
}
---

<div class="mx-auto">
    <iframe
        width="640"
        height="360"
        src={data.url + `?${isAutoplayable()}enablejsapi=1`}
        title="YouTube video player"
        allowfullscreen></iframe>

    <p>{data.caption}</p>
</div>
