---
import { getBlogPosts } from "./../../../typescript/functions/blog_posts";
import type { ApiBlogPostBlogPost } from "./../../../typescript/types/schemas";
import BlogPostsListElement from "./subcomponents/BlogPostsListElement.astro";

interface Props {
    headline?: string;
}

const { headline } = Astro.props;

const posts = await getBlogPosts();
---

<h2 class="pb-16 header-1">{headline}</h2>

<ul
    class="grid w-full grid-cols-1 gap-4 pb-24 main-content md:grid-cols-2 lg:grid-cols-3"
>
    {
        posts.map((post: ApiBlogPostBlogPost) => (
            <BlogPostsListElement post={post} />
        ))
    }
</ul>
