---
import TestimonialsAnimated from "./subcomponents/TestimonialsAnimated.astro";
import TestimonialsBasic from "./subcomponents/TestimonialsBasic.astro";
import type { Testimonials } from "./../../../typescript/types/components";
import { TestimonialsType } from "./../../../typescript/types/components";

interface Props {
    data: Testimonials;
}

const { data } = Astro.props;
---

<div class="">
    {
        () => {
            if (data.type == TestimonialsType.animated) {
                return <TestimonialsAnimated data={data} />;
            } else {
                return <TestimonialsBasic data={data} />;
            }
        }
    }
</div>
