---
import Layout from "@layouts/Layout.astro";
import Nav from "@components/Navbar/Nav.astro";
import Footer from "@components/Footer.astro";
import FancyBg from "@components/subcomponents/FancyBg.astro";
import { getBlogPosts } from "@components/stapi_client";
import type { ApiBlogPostBlogPost } from "@components/stapi_client";
import BlogPage from "@components/stapi_client/components/blog/BlogPage.astro";

export async function getStaticPaths() {
    const posts = await getBlogPosts();

    return posts.map((post: ApiBlogPostBlogPost) => ({
        params: { slug: post.attributes.slug },
    }));
}

const slug = Astro.params.slug;
---

<Layout>
    <FancyBg />
    <Nav />
    <BlogPage slug={String(slug)} />
    <div class="mt-auto">
        <Footer />
    </div>
</Layout>
