---
import Layout from "@layouts/Layout.astro";
import Nav from "@components/Navbar/Nav.astro";
import Footer from "@components/Footer.astro";
import FancyBg from "@components/subcomponents/FancyBg.astro";
import { getBlogPostsSlugs } from "@components/stapi_client";
import BlogPage from "@components/stapi_client/components/blog/BlogPage.astro";

export async function getStaticPaths() {
    const slugs = await getBlogPostsSlugs();

    return slugs.map((slug: string) => ({
        params: { slug: slug },
    }));
}
---

<Layout>
    <FancyBg />
    <Nav />
    <BlogPage slug={Astro.params.slug} />
    <div class="mt-auto">
        <Footer />
    </div>
</Layout>
