---
import Hero from "@components/strapidynamic/layout/Hero.astro";
import Advantages from "@components/strapidynamic/layout/Advantages.astro";
import Testimonials from "@components/strapidynamic/layout/Testimonials.astro";
import Editor from "@components/strapidynamic/layout/Editor.astro";

const { blocks } = Astro.props;
---

{
    blocks.map((component: any) => {
        switch (component.__component) {
            case "layout.hero":
                return <Hero data={component} />;

            case "layout.editor":
                return <Editor content={component.content} />;

            case "layout.advantages":
                return <Advantages data={component} />;

            case "layout.testimonials":
                return <Testimonials data={component} />;

            default:
                console.log("-----------------");
                console.log(component);
                console.log("=================");
                return <p>Not implemented</p>;
        }
    })
}
