:root {
    line-height: 28px;
    text-align: center;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #151317;
    margin: auto;

    font-family: "Roboto";
    font-size: 18px;
    font-weight: 300;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
    font-display: optional;
    src: local("Roboto Light"),
        url(/assets/fonts/roboto-light.latin.woff2) format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
        U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
    font-display: optional;
    src: local("Roboto Light"),
        url(/assets/fonts/roboto-light.latin-ext.woff2) format("woff2");
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+20A0-20CF, U+2C60-2C7F,
        U+A720-A7FF;
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-display: optional;
    src: local("Roboto Medium"),
        url(/assets/fonts/roboto-medium.latin.woff2) format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
        U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-display: optional;
    src: local("Roboto Medium"),
        url(/assets/fonts/roboto-medium.latin-ext.woff2) format("woff2");
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+20A0-20CF, U+2C60-2C7F,
        U+A720-A7FF;
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 900;
    font-display: optional;
    src: local("Roboto Black"),
        url(/assets/fonts/roboto-black.latin.woff2) format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
        U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 900;
    font-display: optional;
    src: local("Roboto Black"),
        url(/assets/fonts/roboto-black.latin-ext.woff2) format("woff2");
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+20A0-20CF, U+2C60-2C7F,
        U+A720-A7FF;
}

summary::-webkit-details-marker {
    display: none;
    margin-inline-end: 0;
}

img,
video,
iframe {
    max-inline-size: 100%;
    block-size: auto;
}

body {
    margin: 0 auto;
    min-width: 360px;

    min-height: 100vh;
}

/* section {
    max-width: 1280px;
} */

a {
    font-weight: 500;
    /* color: #646cff; */
    text-decoration: inherit;
}
a:hover {
    color: #535bf2;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
}
/* button:hover {
    border-color: #646cff;
} */
/* button:focus, */
/* button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
} */

.card {
    padding: 2em;
}

#home {
    margin: 0 auto;
    height: auto;
    max-width: 1280px;
}

#footer {
    width: 100vw;
}

#app {
    padding: 0;
    text-align: center;
}
.bg-grid {
    background-size: 20px 20px;
    background-image: linear-gradient(to right, #2c313550 1px, transparent 1px),
        linear-gradient(to bottom, #2c313550 1px, transparent 1px);
    background-position: top center;
    image-rendering: pixelated;
}

.faded-top {
    -webkit-mask-image: linear-gradient(
        to bottom,
        transparent,
        10%,
        black,
        100%,
        transparent
    );
    mask-image: linear-gradient(
        to bottom,
        transparent,
        10%,
        black,
        100%,
        transparent
    );
}
.faded-bottom {
    -webkit-mask-image: linear-gradient(
        to bottom,
        white,
        20%,
        white,
        80%,
        transparent
    );
    mask-image: linear-gradient(
        to bottom,

        20%,
        white,
        80%,
        transparent
    );
}
.faded-full {
    -webkit-mask-image: linear-gradient(
        to bottom,
        transparent,
        10%,
        white,
        90%,
        transparent
    );
    mask-image: linear-gradient(
        to bottom,
        transparent,
        10%,
        white,
        90%,
        transparent
    );
}
.noise-container {
    position: relative;
    isolation: isolate;
    background-color: #17191e;
}
.noise-underlay {
    z-index: -30;
    position: relative;
}
.noise {
    z-index: -20;
    position: absolute;
    inset: 0;
    background-image: url(/assets/noise.webp);
    opacity: 0.4;
    mix-blend-mode: overlay;
    pointer-events: none;
}
.noise-panel {
    position: relative;
    isolation: isolate;
    border-width: 1px;
    --tw-border-opacity: 1;
    border-color: rgb(52 56 65 / var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: rgb(35 38 45 / var(--tw-bg-opacity));
    --tw-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
        0 8px 10px -6px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 20px 25px -5px var(--tw-shadow-color),
        0 8px 10px -6px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
        var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.noise-panel:before {
    position: absolute;
    inset: 0;
    z-index: -20;
    opacity: 0.4;
    mix-blend-mode: overlay;
    content: "";
    background-image: url(/assets/noise.webp);
}

.blur-radial {
    background: radial-gradient(
        circle,
        rgba(255, 255, 255, 0.3),
        rgba(255, 255, 255, 0.1)
    );
    backdrop-filter: blur(50px);
}

.bg-blur {
    filter: blur(192px);
}
