---
import { Img } from "astro-imagetools/components";

interface Props {
    headline: string;
    content?: string;
    image_url: string;
}

const { headline, content, image_url } = Astro.props;
---

<div class="flex flex-col justify-center mx-auto text-left">
    <h1 class="header-1">
        {headline}
    </h1>
    <h2 class="header-2">
        {content}
    </h2>
</div>
<div class="items-center justify-center hidden md:flex">
    <Img src={image_url} width={400} alt="descriptive text" />
</div>
