---
import { Img } from "astro-imagetools/components";

interface Props {
    headline: string;
    content?: string;
    image_url: string;
}

const { headline, content, image_url } = Astro.props;
---

<div class="grid grid-cols1 lg:grid-cols-2">
    <div class="flex flex-col justify-center pr-6 text-left">
        <h1 class="text-gray-900 header-1">
            {headline}
        </h1>
        <h2 class="text-gray-900 p-paragraph">
            {content}
        </h2>
    </div>
    <div class="items-start justify-start">
        <Img src={image_url} width={500} alt="descriptive text" />
    </div>
</div>
