---
import { getImageUrl } from "@typescript/strapiApi";
import type { Step } from "@components/strapidynamic/typescript/types";
import { Img } from "astro-imagetools/components";

interface Props {
    index: number;
    data: Step;
}

const { index, data } = Astro.props;
---

<div
    class="grid grid-cols-1 gap-8 p-4 rounded-lg shadow-2xl bg-zinc-900 shadow-gray-500 md:grid-cols-2 lg:w-196"
>
    <div>
        <h2>{index}</h2>
        <h2 class="mb-2 text-2xl font-medium text-left lg:h-12">
            {data.headline}
        </h2>
        <p class="text-base text-left">
            {data.content}
        </p>
    </div>
    <div class="w-full rounded-lg overflow-hidden h-[400px]">
        <Img
            src={getImageUrl(data.image)}
            alt="advantage_item"
            placeholder="none"
            layout="cover"
            width={500}
        />
    </div>
</div>
