---
import { getImageUrl } from "@typescript/strapiApi";
import type { Step } from "@components/strapidynamic/typescript/types";
import { Img } from "astro-imagetools/components";

interface Props {
    index: number;
    data: Step;
}

const { index, data } = Astro.props;
---

<div class="border-t border-sky-200/50 p-4">
    <h2>{index}</h2>
    <h2 class="font-medium text-left mb-2 text-2xl lg:h-12">
        {data.headline}
    </h2>
    <p class="text-base text-left">
        {data.content}
    </p>
    <div class="flex-none p-8 pb-12 lg:flex lg:(p-0 pb-8)">
        <Img
            src={getImageUrl(data.image)}
            alt="advantage_item"
            placeholder="none"
            width={300}
        />
    </div>
</div>
