---
import { storyblokEditable } from "@storyblok/astro";
import StoryblokComponent from "@storyblok/astro/StoryblokComponent.astro";
import Layout from "@layouts/Layout.astro";
import Nav from "@components/Nav.astro";
import Section1 from "@components/Section1.astro";
import Marketing2 from "@components/Marketing2.astro";

import Testimonials from "@components/Testimonials.astro";
import Contact from "@components/Contact.astro";

import Footer from "@components/Footer.astro";
import Proof from "@components/Proof.astro";
import StepByStep from "@components/StepByStep.astro";
import Features from "@components/Features.astro";

import {
    Img,
    Picture,
    BackgroundPicture,
    BackgroundImage,
} from "astro-imagetools/components";
import FancyBg from "@components/subcomponents/FancyBg.astro";

const { blok } = Astro.props;
---

<Layout>
    <FancyBg />
    <Nav />
    <main
        class="flex flex-col mx-auto min-h-screen gap-2 lg:gap-16"
        {...storyblokEditable(blok)}
    >
        {
            blok.body?.map((blok) => {
                return <StoryblokComponent blok={blok} />;
            })
        }
        <Marketing2 />
        <Proof />
        <StepByStep />
        <Section1 />
        <!-- <Features /> -->
        <Testimonials />
        <Contact />
    </main>
    <div class="mt-auto">
        <Footer />
    </div>
</Layout>
