<script
    lang="ts"
    src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"
></script>

<div class="max-h-screen w-full overflow-hidden relative">
    <h2 class="inset-0 z-1 absolute header-1">Something Went Wrong</h2>
    <lottie-player
        src="https://assets7.lottiefiles.com/packages/lf20_h5lattxs.json"
        background="transparent"
        speed="1"
        style="width: full; height: ;"
        loop
        autoplay></lottie-player>
</div>
