---
import Layout from "@layouts/Layout.astro";
import Nav from "@components/Navbar/Nav.astro";
import Footer from "@components/Footer.astro";

import { astroI18n, t } from "astro-i18n";
astroI18n.init(Astro);
---

<Layout>
    <div class="flex flex-col justify-between h-screen">
        <Nav />

        <div>
            <h2 class="header-1">{t("404.title")}</h2>
            <p class="ordinary-text">
                {t("404.subtitle")}
            </p>
        </div>
        <Footer />
    </div>
</Layout>
