---
import Layout from "@layouts/Layout.astro";
import Nav from "@components/Nav.astro";
import Hero from "@components/Hero.astro";
import Footer from "@components/Footer.astro";
import FAQcard from "@components/subcomponents/FAQcard.astro";
---

<Layout>
    <Nav />
    <main
        class="flex flex-col mx-auto min-h-screen gap-16 main-content items-center justify-center xl:p-0"
    >
        <h1 class="pt-20 header-1">Skontaktuj Się z nami</h1>
        <div class="mx-auto w-full lg:w-128">
            <form
                action="mailto:test@test.com"
                method="post"
                enctype="text/plain"
                class="space-y-4"
            >
                <div>
                    <label class="sr-only" for="name">Twoje Imię</label>
                    <input
                        class="rounded-lg bg-neutral-800 border-gray-200 text-sm w-full p-3"
                        placeholder="Twoje Imię"
                        type="text"
                        id="name"
                    />
                </div>

                <div>
                    <label class="sr-only" for="email">Email</label>
                    <input
                        class="rounded-lg bg-neutral-800 border-gray-200 text-sm w-full p-3"
                        placeholder="Twój Adres Email"
                        type="email"
                        id="email"
                    />
                </div>

                <div>
                    <label class="sr-only" for="message">Message</label>

                    <textarea
                        class="rounded-lg bg-neutral-800 border-gray-200 text-sm w-full p-3"
                        placeholder="Wiadomość"
                        rows="8"
                        id="message"></textarea>
                </div>

                <div class="mt-4">
                    <button
                        type="submit"
                        class="rounded-lg flex font-medium bg-blue-600 text-center text-white py-3 px-16 transition-smooth inline-block hover:(bg-transparent border border-blue-600 shadow-xl shadow-blue-600/20)"
                    >
                        Wyślij
                    </button>
                </div>
            </form>
        </div>

        <div class="w-full grid pb-20 gap-4 grid-cols-1 lg:grid-cols-2">
            <FAQcard
                question={"Czy będzie łatwo edytować i aktualizować swoją stronę internetową?"}
                answer={"Tak, podpinamy do stron internetowych system CMS, który umożliwia łatwą edycję i aktualizację treści bez konieczności znajomości kodowania"}
            />
            <FAQcard
                question={"Czy moja strona będzie responsywna i dostosowana do urządzeń mobilnych?"}
                answer={"Tak, projektujemy responsywne strony internetowe, które automatycznie dostosowują się do urządzeń mobilnych i innych ekranów."}
            />
            <FAQcard
                question={"Czy oferujecie wsparcie techniczne dla mojej strony internetowej po jej wdrożeniu?"}
                answer={"Tak, oferujemy wsparcie techniczne dla naszych klientów po wdrożeniu strony internetowej, aby zapewnić ich działanie bez awarii."}
            />
            <FAQcard
                question={"Jakie są warunki umowy dotyczącej projektowania i wdrażania mojej strony internetowej?"}
                answer={"Przed rozpoczęciem projektu, klient i nasza firma podpisują umowę, która zawiera szczegółowy opis usług oraz kosztorys. W umowie określamy też terminy realizacji projektu oraz warunki płatności"}
            />
            <FAQcard
                question={"Jakie są koszty projektowania i wdrażania mojej strony internetowej z systemem CMS?"}
                answer={"Koszty projektowania i wdrażania strony internetowej zależą od wielu czynników, takich jak skala projektu, liczba stron i funkcjonalności. Przed rozpoczęciem projektu, ustalamy szczegółową wycenę usług."}
            />
            <FAQcard
                question={"Jakie są koszty usług hostingowych dla mojej strony internetowej?"}
                answer={"Oferujemy sprawdzone i wydajne opcje hostingowe dla naszych klientów. Koszty usług hostingowych zależą od wybranej przez klienta opcji hostingowej, takiej jak liczba stron, pojemność dysku, transfer danych itp. Dla zwykłej firmowej strony koszty te wahają się od 50 do 150zł miesięcznie"}
            />
        </div>
    </main>
    <Footer />
</Layout>
