---
import Layout from "@layouts/Layout.astro";
import Nav from "@components/Navbar/Nav.astro";
import Footer from "@components/Footer.astro";
import FAQsection from "@components/subcomponents/FAQsection.astro";
import ContactForm from "@components/subcomponents/ContactForm.astro";

import { astroI18n } from "astro-i18n";
astroI18n.init(Astro);

import { t } from "astro-i18n";
---

<Layout title={t("contact.pageTitle")} description={t("contact.description")}>
    <!-- <FancyBg /> -->
    <Nav />
    <main
        class="flex flex-col items-center justify-center min-h-screen gap-16 mx-auto main-content"
    >
        <h1 class="pt-20 header-1">{t("contact.title")}</h1>
        <ContactForm />
        <FAQsection />
    </main>
    <Footer />
</Layout>
