---
import Layout from "@layouts/Layout.astro";
import Nav from "@components/Navbar/Nav.astro";
import Hero from "@components/Hero.astro";
import Footer from "@components/Footer.astro";
import FAQcard from "@components/subcomponents/FAQcard.astro";
import FAQsection from "@components/subcomponents/FAQsection.astro";
import FancyBg from "@components/subcomponents/FancyBg.astro";
import ContactForm from "@components/subcomponents/ContactForm.astro";
---

<Layout>
    <FancyBg />
    <Nav />
    <main
        class="flex flex-col items-center justify-center min-h-screen gap-16 mx-auto main-content xl:p-0"
    >
        <h1 class="pt-20 header-1">Skontaktuj Się z nami</h1>
        <ContactForm />
        <FAQsection />
    </main>
    <Footer />
</Layout>
