---
import Layout from "@layouts/Layout.astro";
import Nav from "@components/Nav.astro";
import Hero from "@components/Hero.astro";
import Footer from "@components/Footer.astro";
import FAQcard from "@components/subcomponents/FAQcard.astro";
import FAQsection from "@components/subcomponents/FAQsection.astro";
import FancyBg from "@components/subcomponents/FancyBg.astro";
---

<Layout>
    <FancyBg />
    <Nav />
    <main
        class="flex flex-col mx-auto min-h-screen gap-16 main-content items-center justify-center xl:p-0"
    >
        <h1 class="pt-20 header-1">Skontaktuj Się z nami</h1>
        <div class="mx-auto w-full lg:w-128">
            <form id="contactForm" class="space-y-4">
                <div>
                    <label
                        for="name"
                        class="font-medium text-left pl-2 text-gray-300 block"
                        >Twoje Imię</label
                    >
                    <input
                        class="rounded-lg font-light bg-neutral-800 border-gray-200 text-sm w-full p-3"
                        placeholder="Jan Kowalski"
                        type="text"
                        id="name"
                        name="name"
                        aria-label="Twoje Imię"
                    />
                </div>

                <div>
                    <label
                        for="email"
                        class="font-medium text-left pl-2 text-gray-100 block"
                        >Email</label
                    >
                    <input
                        class="rounded-lg font-light bg-neutral-800 border-gray-200 text-sm w-full p-3"
                        placeholder="Twój Adres Email"
                        type="email"
                        id="email"
                        name="email"
                        aria-label="jan.kowalski@gmail.com"
                    />
                </div>

                <div>
                    <label
                        for="message"
                        class="font-medium text-left pl-2 text-gray-300 block"
                        >Wiadomość</label
                    >
                    <textarea
                        class="rounded-lg font-light bg-neutral-800 border-gray-200 text-sm w-full p-3"
                        placeholder="Chciałbym zamówić wycenę strony internetowej."
                        rows="8"
                        id="message"
                        name="message"
                        aria-label="Wiadomość"></textarea>
                </div>
                <!-- TODO dodaj stylowanie -->
                <div id="responseInfo"></div>
                <div class="mt-4">
                    <button
                        id="contactButton"
                        type="submit"
                        class="rounded-lg flex font-medium bg-blue-600 text-center text-white py-3 px-16 transition-smooth inline-block hover:(bg-transparent border border-blue-600 shadow-xl shadow-blue-600/20)"
                    >
                        Wyślij
                    </button>
                </div>
            </form>
        </div>

        <FAQsection />
    </main>
    <Footer />

    <script>
        import { sendContactRequest } from "src/typescript/contactForm";

        function onSuccess() {
            const responseInfo = document.getElementById("responseInfo");

            responseInfo.innerHTML = `Gratki byq! W kontakcie.`;
        }

        function onError(error) {
            const responseInfo = document.getElementById("responseInfo");

            responseInfo.innerHTML = error;
        }

        async function onSubmit(event) {
            sendContactRequest(event, onSuccess, onError);
        }

        const form = document.getElementById("contactForm") as HTMLFormElement;
        form.addEventListener("submit", onSubmit);
    </script>
</Layout>
