---
import Layout from "@layouts/Layout.astro";
import Nav from "@components/Navbar/Nav.astro";
import Footer from "@components/Footer.astro";
import { Img } from "astro-imagetools/components";
import Author from "@components/democomponents/Author.astro";
import EditorContent from "@components/editorjs/EditorContent.astro";
import { strapiApiBaseUrl, strapiUploadsBaseUrl } from "@typescript/consts";

const demo = await fetch(strapiApiBaseUrl + `/demos?populate=*`).then((x) =>
    x.json().then((content) => content.data[0])
);

const autors_all_data = await fetch(
    strapiApiBaseUrl + `/authors?populate=*`
).then((x) => x.json().then((content) => content.data));

const authors = demo.attributes.authors.data.map((author: any) => {
    let result = author.attributes;
    result.image_url = autors_all_data.find(
        (i: any) => i.id == author.id
    ).attributes.image.data.attributes.url;
    return result;
});

const blocks = JSON.parse(demo.attributes.body).blocks;
---

<Layout>
    <div class="mb-10 lg:mb-20">
        <Nav />
    </div>
    <main
        class="flex flex-col mx-auto min-h-screen max-w-6xl p-4 gap-2 xl:(p-0 gap-28)"
    >
        <div class="grid grid-cols-1 gap-8 text-left lg:grid-cols-2">
            <div class="flex flex-col justify-between">
                <div class="mb-4">
                    <h1 class="mb-4 header-1">{demo.attributes.title}</h1>
                    <p class="header-3">
                        {demo.attributes.subtitle}
                    </p>
                </div>
                {
                    authors.map((author: any) => (
                        <Author
                            src={strapiUploadsBaseUrl + author.image_url}
                            name={author.name}
                        />
                    ))
                }
            </div>
            <div class="overflow-hidden rounded-xl">
                <Img
                    src={strapiUploadsBaseUrl +
                        demo.attributes.image.data.attributes.url}
                    width={600}
                    alt="descriptive text"
                />
            </div>
        </div>

        <article class="flex flex-col max-w-2xl mx-auto text-left">
            <EditorContent blocks={blocks} />
        </article>
    </main>
    <div class="mt-auto">
        <Footer />
    </div>
</Layout>
<style>
    .dotted-bullet::before {
        content: "•";
        display: inline-block;
        margin-right: 0.5rem;
        color: currentColor;
        font-size: 1.25rem;
    }
</style>
