---
import Layout from "@layouts/Layout.astro";
// import FancyBg from "@components/subcomponents/FancyBg.astro";
import Nav from "@components/Navbar/Nav.astro";

import Hero from "@components/Hero.astro";
import Marketing0 from "@components/Marketing0.astro";
import Marketing1 from "@components/Marketing1.astro";
import Marketing2 from "@components/Marketing2.astro";
import Proof from "@components/Proof.astro";
import StepByStep from "@components/StepByStep.astro";
import Section1 from "@components/Section1.astro";
import Contact from "@components/Contact.astro";
import Footer from "@components/Footer.astro";
---

<Layout>
    <!-- <FancyBg /> -->
    <Nav />
    <main class="flex flex-col min-h-screen mx-auto mt-20 gap-28 lg:gap-56">
        <Hero />
        <Marketing0 />
        <Marketing1 />
        <Section1 />
        <Marketing2 />
        <Proof />
        <StepByStep />
        <!-- <Features /> -->
        <Contact />
    </main>
    <div class="mt-auto">
        <Footer />
    </div>

    <script>
        import { showWhenInView } from "/src/typescript/scroll.ts";
        showWhenInView(".show-on-scroll");
        showWhenInView(".show-on-scroll-alt");
    </script>

    <script src="vanilla-tilt"></script>
</Layout>
