---
import Layout from "@layouts/Layout.astro";
// import FancyBg from "@components/subcomponents/FancyBg.astro";
import Nav from "@components/Navbar/Nav.astro";

import Hero from "@components/Hero.astro";
import Marketing1 from "@components/Marketing1.astro";
import Marketing2 from "@components/Marketing2.astro";
import Proof from "@components/Proof.astro";
import StepByStep from "@components/StepByStep.astro";
import Section1 from "@components/Section1.astro";
import Contact from "@components/Contact.astro";
import Footer from "@components/Footer.astro";

const bg = "src/assets/bgkupa.png";
---

<!-- <script src="/src/typescript/scroll.js"></script> -->
<Layout>
    <!-- <FancyBg /> -->
    <Nav />
    <main class="flex flex-col min-h-screen gap-2 mx-auto lg:gap-16">
        <Hero
            image={{
                src: bg,
                brightness: 0.8,
                saturation: 0.1,
            }}
        />

        <Marketing1 />
        <Marketing2 />
        <Proof />
        <StepByStep />
        <Section1 />
        <!-- <Features /> -->
        <Contact />
    </main>
    <div class="mt-auto">
        <Footer />
    </div>
</Layout>
