---
import Layout from "@layouts/Layout.astro";
import Footer from "@components/Footer.astro";
import Nav from "@components/Navbar/Nav.astro";
import Section1 from "@components/Section1.astro";

import PageSpeed from "@components/PageSpeed";
import { BackgroundImage } from "astro-imagetools/components";
import Faded from "@components/elements/Faded.astro";

const bg = "/src/assets/bg7.jpg";
---

<Layout title="PageSpeed Tester" description="Sprawdź prędkość swojej strony">
    <div class="">
        <Nav />
    </div>
    <div class="py-20">
        <Section1 />
    </div>

    <div class="mt-auto">
        <Footer />
    </div>
</Layout>
