---
import Layout from "@layouts/Layout.astro";
import Footer from "@components/Footer.astro";
import Nav from "@components/Navbar/Nav.astro";
import Section1 from "@components/Section1.astro";

import { astroI18n } from "astro-i18n";
astroI18n.init(Astro);
---

<Layout title="PageSpeed Tester" description="Sprawdź prędkość swojej strony">
    <div class="">
        <Nav />
    </div>
    <div class="min-h-screen py-20">
        <Section1 />
    </div>

    <div class="mt-auto">
        <Footer />
    </div>

    <script>
        const option = document.getElementById(
            "nav-bar-menu-item-pagespeedtester"
        );

        if (option) {
            option.classList.add("active");
        }
    </script>
</Layout>
