---
import Layout from "@layouts/Layout.astro";
import Nav from "@components/Navbar/Nav.astro";
import Footer from "@components/Footer.astro";
import FancyBg from "@components/subcomponents/FancyBg.astro";
import Proof from "@components/Proof.astro";

const { blok } = Astro.props;
---

<Layout>
    <FancyBg />
    <Nav />
    <main class="flex flex-col min-h-screen gap-2 pt-16 mx-auto lg:gap-16">
        <Proof />
    </main>
    <div class="mt-auto">
        <Footer />
    </div>
</Layout>
