---
import Layout from "@layouts/Layout.astro";
import Nav from "@components/Navbar/Nav.astro";
import Footer from "@components/Footer.astro";
import Proof from "@components/Proof.astro";
import ProofItem from "@components/subcomponents/ProofItem.astro";
const agree = "/src/assets/agreement.png";
import { Img } from "astro-imagetools/components";
---

<Layout>
    <div class="mb-10 lg:mb-20">
        <Nav />
    </div>
    <main
        class="flex flex-col mx-auto max-w-6xl min-h-screen p-4 gap-12 items-center xl:(p-0 gap-28)"
    >
        <div class="flex flex-col items-center">
            <h1 class="mb-2 header-1">Dziękujemy!</h1>
            <Img src={agree} alt="descriptive text" width={200} />
            <p class="max-w-lg mb-2">
                Odezwiemy się do Ciebie w ciągu 24h. W międzyczasie może
                przeczytasz któryś z tych postów?
            </p>
        </div>
        <div
            class="grid w-full gap-8 mb-20 rounded-xl gird-cols-1 lg:grid-cols-3 xl:w-6xl"
        >
            <ProofItem
                title="Manager sesji zdjęciowych dla swiperight.pl"
                paragraph="Wraz ze zwiększającą się ilością obsługiwanych klientów Swiperight zaczęło dostrzegać potrzebę coraz bardziej niezawodnego, zautomatyzowanego procesu zarządzania usługami."
                src="/src/assets/database-blue.png"
                href="/projects/swiperight-admin"
                loading="eager"
            />
            <ProofItem
                title="Co robimy, aby zapewnić najlepszą jakość usług dla naszych klientów?"
                paragraph="Wygląd, wydajność i intuicyjna obsługa to trzy najważniejsze rzeczy jeśli chodzi o stronę internetową. Opowiemy Ci pokrótce co robimy, aby każdy z tych trzech punktów był na najwyższym poziomie."
                src="/src/assets/article.jpg"
                href="/projects/optymalne-strony"
                loading="eager"
            />
            <ProofItem
                title="Perfekcyjny wynik GoogleLighthouse na Betterize"
                paragraph="Betterize to firma skupiająca się na robieniu stron internetowych. Bardzo ważne było dla nich zwiększenie konwersji i serwowanie zdjęć na swojej stronie w możliwie optymalny sposób."
                src="/src/assets/betterize2.png"
                href="/projects/betterize"
                loading="eager"
            />
        </div>
    </main>
    <div class="mt-auto">
        <Footer />
    </div>
</Layout>
