---
import { getPost } from "@components/stapi_client";
import EditorContent from "./../richtext_editor/EditorContent.astro";

interface Props {
    slug: string;
}

const { slug } = Astro.props;

const postItem = await getPost(slug as string);

const postAttributes = postItem.attributes;

const blocks = JSON.parse(postAttributes.content).blocks;
---

<main class="flex flex-col min-h-screen gap-2 mx-auto lg:gap-16">
    <article class="flex flex-col max-w-2xl mx-auto text-left">
        <h1 class="blog-header mt-20">{postAttributes.title}</h1>
        <p>{postAttributes.excerpt}</p>
        <EditorContent blocks={blocks} />
    </article>
</main>
