---
import type { ApiCaseStudyCaseStudy } from "./../../typescript/types/strapi_generated/contentTypes";
import { getCaseStudies } from "./../../typescript/functions/case_studies";
import CaseStudiesListElement from "./CaseStudiesListElement.astro";

interface Props {
    langCode: string;
}

const { langCode } = Astro.props;

const projects = await getCaseStudies();
---

<div class="grid w-full gap-8 rounded-xl gird-cols-1 lg:grid-cols-3 xl:w-6xl">
    {
        projects
            .filter(
                (project: ApiCaseStudyCaseStudy) =>
                    project.attributes.locale === langCode
            )
            .map((project: ApiCaseStudyCaseStudy) => (
                <CaseStudiesListElement project={project} langCode={langCode} />
            ))
    }
</div>
