---
import { Img } from "astro-imagetools/components";

interface Props {
    src: string;
    width?: number;
    title: string;
    description: string;
}

const { src, width = 200, title, description } = Astro.props;
---

<div class="border-t border-sky-200/50 p-4">
    <div class="flex-none p-8 pb-12 lg:flex lg:(p-0 pb-8)">
        <Img src={src} alt="advantage_item" placeholder="none" width={width} />
    </div>
    <h2 class="font-medium text-left mb-2 text-2xl lg:h-12">
        {title}
    </h2>
    <p class="text-base text-left">
        {description}
    </p>
</div>
