---
import { Img } from "astro-imagetools/components";

const { blok } = Astro.props;

// const {
//     alt = "descriptive text",
//     format = "avif",
//     title = "Tytuł komponentu AdvantageItem ...",
//     ...props
// } = Astro.props;

// if (blok.src === undefined || blok.src === null) {
//     console.error("Missing required 'src' attribute");
// }

// if (blok.width === undefined || blok.width === null) {
//     console.error("Missing required 'width' attribute");
// }
---

<div class="border-t border-sky-200/50 p-4">
    <div class="flex-none p-8 pb-12 lg:flex lg:(p-0 pb-8)">
        <Img
            src={blok.image.filename}
            alt="advantage_item"
            placeholder="none"
            width={200}
        />
    </div>
    <h2 class="font-medium text-left mb-2 text-2xl lg:h-12">
        {blok.title}
    </h2>
    <p class="text-base text-left">
        {blok.description}
    </p>
</div>
