---
import Layout from "@layouts/Layout.astro";
import Nav from "@components/Nav.astro";
import Footer from "@components/Footer.astro";

const { blok } = Astro.props;
---

<Layout>
    <Nav />
    <main class="flex flex-col mx-auto min-h-screen gap-2 lg:gap-16">
        <h1>title</h1>
        <p>description</p>
        content
    </main>
    <div class="mt-auto">
        <Footer />
    </div>
</Layout>
