---
interface Props {
    question?: string;
    answer?: string;
}
const {
    question = "Jestem pytaniem, które ktoś mógłby zadać",
    answer = "Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ab hic veritatis molestias culpa in, recusandae laboriosam neque aliquid libero nesciunt voluptate dicta quo officiis explicabo consequuntur distinctio corporis earum similique! ",
} = Astro.props;
---

<details class="w-full group [&_summary::-webkit-details-marker]:hidden" open>
    <summary
        class="border rounded-lg cursor-pointer flex border-gray-200/50 w-full p-4 items-center justify-between"
    >
        <h2 class="font-medium text-gray-200">
            {question}
        </h2>

        <svg
            class="flex-shrink-0 h-5 ml-1.5 transition w-5 duration-300 group-open:-rotate-180"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
        >
            <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M19 9l-7 7-7-7"></path>
        </svg>
    </summary>

    <p class="mt-4 text-left px-4 text-gray-300">
        {answer}
    </p>
</details>
