---
import FAQcard from "./FAQcard.astro";
---

<div class="w-full max-w-6xl grid pb-20 gap-4 grid-cols-1 lg:grid-cols-2">
    <FAQcard
        question={"Czy będzie łatwo edytować i aktualizować swoją stronę internetową?"}
        answer={"Tak, podpinamy do stron internetowych system CMS, który umożliwia łatwą edycję i aktualizację treści bez konieczności znajomości kodowania"}
    />
    <FAQcard
        question={"Czy moja strona będzie responsywna i dostosowana do urządzeń mobilnych?"}
        answer={"Tak, projektujemy responsywne strony internetowe, które automatycznie dostosowują się do urządzeń mobilnych i innych ekranów."}
    />
    <FAQcard
        question={"Czy oferujecie wsparcie techniczne dla mojej strony internetowej po jej wdrożeniu?"}
        answer={"Tak, oferujemy wsparcie techniczne dla naszych klientów po wdrożeniu strony internetowej, aby zapewnić ich działanie bez awarii."}
    />
    <FAQcard
        question={"Jakie są warunki umowy dotyczącej projektowania i wdrażania mojej strony internetowej?"}
        answer={"Przed rozpoczęciem projektu, klient i nasza firma podpisują umowę, która zawiera szczegółowy opis usług oraz kosztorys. W umowie określamy też terminy realizacji projektu oraz warunki płatności"}
    />
    <FAQcard
        question={"Jakie są koszty projektowania i wdrażania mojej strony internetowej z systemem CMS?"}
        answer={"Koszty projektowania i wdrażania strony internetowej zależą od wielu czynników, takich jak skala projektu, liczba stron i funkcjonalności. Przed rozpoczęciem projektu, ustalamy szczegółową wycenę usług."}
    />
    <FAQcard
        question={"Jakie są koszty usług hostingowych dla mojej strony internetowej?"}
        answer={"Oferujemy sprawdzone i wydajne opcje hostingowe dla naszych klientów. Koszty usług hostingowych zależą od wybranej przez klienta opcji hostingowej, takiej jak liczba stron, pojemność dysku, transfer danych itp. Dla zwykłej firmowej strony koszty te wahają się od 50 do 150zł miesięcznie"}
    />
</div>
