---
import FAQcard from "./FAQcard.astro";
import { t } from "astro-i18n";
---

<div class="grid w-full max-w-6xl grid-cols-1 gap-4 pb-20">
    <FAQcard
        question={t("faq.item1.question")}
        answer={t("faq.item1.answer")}
    />
    <FAQcard
        question={t("faq.item2.question")}
        answer={t("faq.item2.answer")}
    />
    <FAQcard
        question={t("faq.item3.question")}
        answer={t("faq.item3.answer")}
    />
    <FAQcard
        question={t("faq.item4.question")}
        answer={t("faq.item4.answer")}
    />
    <FAQcard
        question={t("faq.item5.question")}
        answer={t("faq.item5.answer")}
    />
    <FAQcard
        question={t("faq.item6.question")}
        answer={t("faq.item6.answer")}
    />
</div>
