---
import { Img } from "astro-imagetools/components";

interface Props {
    title?: string;
    paragraph?: string;
    src?: string;
}

const {
    title = "I am a title of this component",
    paragraph = "Paragraph is very important thing in components. It usually provide usefull infomations to the reader. It would be nice if paragraph would be longer than title so i am writing this.",
    src = "/src/assets/swiperight.jpg",
} = Astro.props;
---

<li>
    <a
        href="#"
        class="block font-bold text-gray-800 transition duration-300 ease-in-out rounded-lg hover:bg-gray-800 hover:text-indigo-600"
    >
        <div class="w-full mb-2 h-[100px] rounded-lg overflow-hidden">
            <Img
                src={src}
                width={240}
                layout="fill"
                objectFit="cover"
                alt="descriptive text"
            />
        </div>

        <p class="font-medium text-gray-100">{title}</p>
    </a>
</li>
