---
import { Icon } from "astro-iconify";

import ButtonContact from "@components/subcomponents/ButtonContact.astro";
import NavBarSubItem from "./NavbarSubItem.astro";
import NavbarItemGroup from "./NavbarItemGroup.astro";
import NavbarPost from "./NavbarPost.astro";
import logo from "/src/assets/logo-white-text.svg";
---

<header aria-label="Site Header" class="z-10 w-full">
    <section
        id="navbar"
        class="relative flex items-center justify-between h-20 max-w-screen-xl gap-10 px-8 mx-auto"
    >
        <!-- menu stacjonarne -->
        <div class="flex">
            <a href="/" class="image-animation hover:opacity-80">
                <img
                    src={logo}
                    width="80"
                    height="64"
                    loading="eager"
                    decoding="async"
                    alt="descriptive text"
                    fetchpriority="high"
                />
            </a>
        </div>

        <nav
            aria-label="Site Nav"
            class="hidden gap-8 text-sm font-medium text-md md:flex"
        >
            <!-- TO JEST SEKCJA "BLOG" W NAVBARZE -->
            <!-- <div class="relative group">
                <a
                    class="flex items-center h-20 text-gray-300 ease-in-out transition-smooth group"
                    href="#"
                >
                    <div class="flex items-center justify-center">
                        Blog
                        <div
                            class="group-hover:(transform translate-y-0.5) transition-smooth"
                        >
                            <Icon
                                name="material-symbols:arrow-drop-down"
                                style="color: white; width:30px; height:30px"
                            />
                        </div>
                    </div>
                </a>
                <div
                    class="absolute z-30 invisible transition duration-500 ease-in-out transform translate-y-0 opacity-0 top-10 -left-42 group-hover:transform group-hover:visible group-hover:translate-y-6 group-hover:opacity-100 min-w-max"
                >
                    <div
                        class="relative w-full p-4 shadow-xl bg-gradient-to-b from-zinc-900 to-zinc-800 group top-4 rounded-xl"
                    >
                        <div class="grid grid-cols-1 gap-6 mb-4 text-md">
                            <div
                                class="flex flex-col gap-4 divide-y divide-dashed divide-gray-100/10"
                            >
                                <ul>
                                    <li>
                                        <NavbarPost
                                            title="Jak drastycznie przyśpieszyć działanie strony internetowej dzięki formatowi AVIF "
                                        />
                                    </li>
                                </ul>
                                <ul>
                                    <li>
                                        <NavbarPost
                                            title="Jak drastycznie przyśpieszyć działanie strony internetowej dzięki formatowi AVIF "
                                        />
                                    </li>
                                </ul>
                                <ul>
                                    <li>
                                        <NavbarPost
                                            title="Jak drastycznie przyśpieszyć działanie strony internetowej dzięki formatowi AVIF "
                                        />
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="w-full border-gray-800 border-t-1">
                            <a
                                href="/blog"
                                class="flex items-center justify-center h-8 mx-auto mt-2 hover:text-gray-400 transition-smooth"
                            >
                                Zobacz wszystkie</a
                            >
                        </div>
                    </div>
                </div>
            </div> -->

            <div class="relative z-30 group">
                <a
                    class="flex items-center h-20 text-gray-300 ease-in-out transition-smooth"
                    href="/projects"
                >
                    <div
                        id="nav-bar-menu-item-projekty"
                        class="flex items-center justify-center font-bold nav-bar-menu-item"
                    >
                        Projekty
                        <div
                            class="group-hover:(transform translate-y-0.5) transition-smooth"
                        >
                            <Icon
                                name="material-symbols:arrow-drop-down"
                                style="color: white; width:30px; height:30px"
                            />
                        </div>
                    </div>
                </a>
                <div
                    class="absolute z-30 invisible transition duration-500 ease-in-out transform translate-y-0 opacity-0 top-10 -left-62 group-hover:transform group-hover:visible group-hover:translate-y-6 group-hover:opacity-100 min-w-max"
                >
                    <div
                        class="relative w-full p-4 shadow-xl bg-gradient-to-b from-zinc-900 to-zinc-800 group top-4 rounded-xl"
                    >
                        <div class="grid grid-cols-3 gap-6 mb-4 text-md">
                            <div>
                                <ul>
                                    <NavBarSubItem
                                        href="/projects/optymalne-strony"
                                        title="Co robimy żeby zapewniść najlepszą jakość usługi?"
                                        src="/src/assets/article.jpg"
                                    />
                                </ul>
                            </div>
                            <div>
                                <ul>
                                    <NavBarSubItem
                                        href="/projects/betterize"
                                        title="betterize.pl"
                                        src="/src/assets/betterize2.png"
                                    />
                                </ul>
                            </div>
                            <div>
                                <ul>
                                    <NavBarSubItem
                                        href="/projects/swiperight-admin"
                                        title="swiperight administration"
                                        src="/src/assets/database-blue.png"
                                    />
                                </ul>
                            </div>
                        </div>
                        <div class="w-full border-gray-800 border-t-1">
                            <a
                                href="/projects"
                                class="flex items-center justify-center h-8 mx-auto mt-2 hover:text-gray-400 transition-smooth"
                            >
                                Zobacz wszystkie</a
                            >
                        </div>
                    </div>
                </div>
            </div>

            <a
                class="flex items-center h-20 font-bold text-gray-300 ease-in-out nav-link transition-smooth hover:opacity-50"
                href="/pagespeedtester"
            >
                <p
                    id="nav-bar-menu-item-pagespeedtester"
                    class="nav-bar-menu-item"
                >
                    PageSpeedTester
                </p>
            </a>

            <svg
                xmlns="http://www.w3.org/2000/svg"
                id="menu-button"
                class="block w-6 h-6 cursor-pointer md:hidden"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
            >
                <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M4 6h16M4 12h16M4 18h16"></path>
            </svg>
        </nav>

        <div class="items-center hidden gap-4 md:flex">
            <ButtonContact />
        </div>

        <button id="menu_btn" aria-label="menu" class="w-10 sm:hidden">
            <svg
                id="menu_bars"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                class="bi bi-list"
                viewBox="0 0 16 16"
            >
                <path
                    fill-rule="evenodd"
                    d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"
                ></path>
            </svg>

            <svg
                id="menu_close"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                class="hidden bi bi-x"
                viewBox="0 0 16 16"
            >
                <path
                    d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"
                ></path>
            </svg>
        </button>
        <!-- mobile menu -->
        <div
            id="mobile_menu"
            class="absolute left-0 right-0 z-30 hidden shadow-2xl shadow-black border-t-gray-500 bg-zinc-900 top-full"
        >
            <div class="flex flex-col items-start gap-4 p-5 sm:hidden">
                <ul class="flex flex-col items-start text-left">
                    <!-- <li
                        class="w-full py-4 border-b border-gray-300 hover:text-sky-500 transition-smooth"
                    >
                        <a class="block" href="/blog">Blog</a>
                    </li> -->
                    <li
                        class="w-full py-4 border-b border-gray-300 hover:text-sky-500 transition-smooth"
                    >
                        <a class="block" href="/projects"> Projekty</a>
                    </li>
                    <li
                        class="w-full py-4 border-b border-gray-300 hover:text-sky-500 transition-smooth"
                    >
                        <a class="block" href="/pagespeedtester">
                            PageSpeedTester
                        </a>
                    </li>
                    <li
                        class="w-full py-4 hover:text-sky-500 transition-smooth"
                    >
                        <a class="block font-black" href="/contact"
                            >Skontaktuj się</a
                        >
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <script>
        const menu_btn = document.getElementById("menu_btn");
        const mobile_menu = document.getElementById("mobile_menu");
        const menu_bars = document.getElementById("menu_bars");
        const menu_close = document.getElementById("menu_close");
        const navbar = document.getElementById("navbar");

        menu_btn.addEventListener("click", () => {
            mobile_menu.classList.toggle("hidden");
            menu_bars.classList.toggle("hidden");
            menu_close.classList.toggle("hidden");
            navbar.classList.toggle("bg-zinc-800");
        });
    </script>

    <style>
        .nav-link[aria-current="page"] {
            text-decoration: underline #fff 0.1rem;
            text-underline-offset: 0.5rem;
        }
        a {
            text-decoration: none;
            transition: all 0.3s ease;
        }
    </style>
</header>
