---
const star = "/src/assets/starship.png";
const arrow = "/src/assets/arrow.png";
import {
    Img,
    Picture,
    BackgroundPicture,
    BackgroundImage,
} from "astro-imagetools/components";

import ButtonContact from "./subcomponents/ButtonContact.astro";
import FAQsection from "./subcomponents/FAQsection.astro";
import Faded from "./elements/Faded.astro";
import ContactForm from "@components/subcomponents/ContactForm.astro";
---

<div class="relative flex flex-col items-center justify-center">
    <div class="absolute inset-0 bottom-0 bg-grid -z-1 faded-top">
        <Faded direction="top" />
    </div>

    <div
        class="absolute bottom-0 w-full h-32 bg-gradient-to-b from-transparent to-sky-800/30 -z-2"
    >
    </div>

    <section class="flex flex-col items-center justify-center gap-20 px-4">
        <div class="show-on-scroll-alt">
            <h2
                class="text-transparent bg-clip-text bg-gradient-to-r from-sky-400 to-indigo-500 header-1"
            >
                Popraw swoje wyniki dzięki nowoczesnej stronie www
            </h2>

            <p class="p-paragraph">
                Napisz do nas na contact@betterize.pl lub użyj formularza
                kontaktowego klikając w przycisk poniżej
            </p>
        </div>
        <div class="w-full">
            <ContactForm />
        </div>

        <div class="flex flex-col gap-8">
            <h2 class="text-4xl header-1">najczęściej zadawane pytania</h2>
            <FAQsection />
        </div>
    </section>
</div>
