---
import FAQsection from "./subcomponents/FAQsection.astro";
import Faded from "./elements/Faded.astro";
import ContactForm from "@components/subcomponents/ContactForm.astro";

import { t } from "astro-i18n";
---

<div class="relative flex flex-col items-center justify-center">
    <div class="absolute inset-0 bottom-0 bg-grid -z-1 faded-top">
        <Faded direction="top" />
    </div>

    <div
        class="absolute bottom-0 w-full h-32 bg-gradient-to-b from-transparent to-sky-800/30 -z-2"
    >
    </div>

    <section class="flex flex-col items-center justify-center gap-10 px-4">
        <div class="show-on-scroll-alt">
            <h2
                class="text-transparent bg-clip-text bg-gradient-to-r from-sky-400 to-indigo-500 header-1"
            >
                {t("index.contact.title")}
            </h2>

            <p class="p-paragraph">
                {t("index.contact.subtitle")}
            </p>
        </div>
        <div class="relative w-full">
            <ContactForm />
            <!-- <div>
                <div
                    class="absolute text-xl transform top-20 -left-60 -z-10 text-gray-500/50"
                >
                    <ul class="flex flex-col gap-4">
                        <li>Konwersja większa o 200%</li>
                        <li>Konwersja większa o 200%</li>
                        <li>Konwersja większa o 200%</li>
                    </ul>
                </div>
                <div
                    class="absolute text-xl transform top-20 -right-60 -z-10 text-gray-500/50"
                >
                    <ul class="flex flex-col gap-4">
                        <li>Konwersja większa o 200%</li>
                        <li>Konwersja większa o 200%</li>
                        <li>Konwersja większa o 200%</li>
                    </ul>
                </div>
            </div> -->
        </div>

        <div class="flex flex-col gap-8">
            <h2 class="text-4xl header-1">{t("index.contact.faqTitle")}</h2>
            <FAQsection />
        </div>
    </section>
</div>
