---
const star = "/src/assets/starship.png";
const arrow = "/src/assets/arrow.png";
import {
    Img,
    Picture,
    BackgroundPicture,
    BackgroundImage,
} from "astro-imagetools/components";

import ButtonContact from "./subcomponents/ButtonContact.astro";
---

<div
    class="flex flex-col h-128 pb-20 relative items-center justify-center lg:pb-40"
>
    <div class="bg-grid h-full w-full bottom-0 -z-1 faded-top absolute"></div>
    <div
        class="bg-gradient-to-b from-transparent to-sky-800/30 h-32 w-full bottom-0 -z-2 absolute"
    >
    </div>
    <section
        class="flex flex-col pb-6 gap-6 main-content items-center justify-center"
    >
        <span
            class="bg-clip-text bg-gradient-to-r from-sky-400 to-indigo-500 text-transparent header-1"
        >
            take your online presence to the next level
        </span>

        <p class="ordinary-text">
            Drop us a message on contact@betterize.pl and we will quickly get
            back to you. We are always happy to chat about new projects and
            opportunities
        </p>
        <ButtonContact />

        <!-- <div class="mx-auto mt-auto">
        <Img src={arrow} alt="asdasdasd" placeholder="none" />
    </div> -->
    </section>
</div>
