---
const logo = "/src/assets/logo.png";
import {
    Img,
    Picture,
    BackgroundPicture,
    BackgroundImage,
} from "astro-imagetools/components";
---

<footer aria-label="Site Footer" class="bg-gray-800">
    <div class="mx-auto py-8 main-content sm:px-6 lg:px-8">
        <div class="sm:flex sm:items-center sm:justify-between">
            <div class="flex text-teal-600 justify-center sm:justify-start">
                <Img
                    src={logo}
                    width={80}
                    placeholder="none"
                    format="avif"
                    alt="descriptive text"
                />
            </div>

            <p
                class="mt-4 text-center text-sm text-gray-300 lg:mt-0 lg:text-right"
            >
                Copyright &copy; 2022. All rights reserved.
            </p>
        </div>
    </div>
</footer>
