---
import herobg from "@assets/hero-bg.png";
import { Image, Picture } from "@astrojs/image/components";
---

<div class="">
    <div class="h-full w-full object-cover inline">
        <Image
            class="object-cover"
            src={herobg}
            width={2560}
            format="avif"
            alt="descriptive text"
            quality={90}
        />
    </div>
    <div class="flex flex-col pt-32">
        <h1 class="header-1">jestem elementem Hero</h1>
        <h2 class="header-2">
            tekst mowiacy o tym jak super jest ten template. Co wiecej mozna o
            nim powiedziec? Nie wiem
        </h2>
    </div>
</div>
