---
import { Img } from "astro-imagetools/components";
import ButtonContact from "./subcomponents/ButtonContact.astro";
import ButtonSecondary from "./subcomponents/ButtonSecondary.astro";
---

<section class="pb-50">
    <div
        class="backdrop-filter backdrop-blur-10 absolute w-full transform -translate-y-10 h-128 sm:(h-96) lg:(h-120 -translate-y-16) bg-gradient-to-br from-gray-900/70 via-gray-800/70 to-purple-900/40 -skew-y-4 shadow-2xl shadow-black"
    >
    </div>
    <div class="flex flex-col mb-10 lg:(mt-16 flex-row) main-content">
        <div class="flex flex-col gap-6 text-center lg:text-left">
            <h1 class="mb-0 header-1">
                Tworzymy <span
                    class="text-transparent bg-clip-text bg-gradient-to-r from-sky-400 to-indigo-500 header-1"
                >
                    Szybkie i nowoczesne
                </span>
                strony internetowe
            </h1>
            <h2 class="mx-auto font-normal lg:mx-0 header-3">
                Chcesz mieć lepsze pozycjonowanie i większe zyski? Postaw na
                szybkość i jakość swojej strony internetowej z Betterize!
            </h2>
            <div class="flex justify-center gap-2 lg:justify-start">
                <ButtonContact />
                <ButtonSecondary />
            </div>
        </div>
        <div
            class="hidden lg:(overflow-hidden rounded-lg shadow-2xl justify-center items-center flex)"
        >
            <Img
                src="/src/assets/hero6.jpg"
                width={600}
                breakpoints={[420, 600]}
                loading="eager"
                alt="descriptive text"
            />
        </div>
    </div>
</section>

<style>
    .shadow-custom {
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
            rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
            rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }
    .shadow-custom2 {
        box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
            rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    }
    .shadow-custom3 {
        box-shadow: rgba(46, 114, 240, 0.4) 5px 5px,
            rgba(46, 114, 240, 0.3) 10px 10px, rgba(46, 114, 240, 0.2) 15px 15px,
            rgba(46, 114, 240, 0.1) 20px 20px,
            rgba(46, 114, 240, 0.05) 25px 25px;
    }
</style>
