---
import { renderImg } from "astro-imagetools/api";
import Testimonials from "./Testimonials.vue";
import { Testimonial } from "@typescript/Testimonials";

const testimonialsData: Testimonial[] = [
    {
        src: "/src/assets/grzegorz.jpg",
        name: "Grzegorz Wiosna",
        company: "Buisness Growth",
        paragraph:
            "Skupiliśmy się przede wszystkim na elementach performance i poprawie ścieżki klienta na stronie, tak by design zgadzał się z analityką. Efekt: 100% realizacji celów",
    },
    {
        src: "/src/assets/daniel.jpg",
        name: "Daniel Popek",
        company: "Public Speaking Coach",
        paragraph:
            "Dużo moich klientów skarżyło się, że ciężko się chodzi po mojej stronie i wszystko długo się na niej ładuje. Po interwencji chłopaków z betterize czas ładowania strony na telefonie skrócił ponad dwukrotnie. Nie spodziewałem się, że moja strona może działać, aż tak szybko. Pełen profesjonalizm, polecam.",
    },
    {
        src: "/src/assets/adam.jpg",
        name: "Adam Naworski",
        company: "Solution Engineer",
        paragraph:
            "Współpraca z firmą Betterize to była najlepsza decyzja jaką mogłem podjąć. Ich szybkość, profesjonalizm i elastyczność były nie do przecenienia. Polecam każdemu, kto szuka wysokiej jakości usług internetowych.",
    },
];

async function render_img_html(src: string) {
    const renderedHTML = await renderImg({
        src: src,
        alt: "Person",
        width: 400,
        height: 400,
        aspect: 1,
    });

    return renderedHTML;
}

async function processTestimonialsData() {
    const updatedTestimonialsData = await Promise.all(
        testimonialsData.map(async (testimonial) => {
            const renderedHTML = await render_img_html(testimonial.src);
            return {
                ...testimonial,
                src: renderedHTML,
            };
        })
    );

    return updatedTestimonialsData;
}

const testimonialsWithSrcAsImg = await processTestimonialsData().then(
    (updatedData) => updatedData
);
---

<div class="relative">
    <h2 class="pb-12 header-1">Co mówią o nas klienci:</h2>

    <Testimonials testimonials_data={testimonialsWithSrcAsImg} client:visible />
</div>
