---
import {
    Img,
    Picture,
    BackgroundPicture,
    BackgroundImage,
} from "../../node_modules/astro-imagetools/components";
import SwiperSlider from "./subcomponents/SwiperSlider.astro";

const guy = "/src/assets/guy.png";
const olek = "/src/assets/profilowka.jpg";
---

<div class="mx-auto max-w-full p-4 py-20 lg:max-w-6xl">
    <swiper-container init="false">
        <SwiperSlider
            src="/src/assets/adam.jpg"
            name="Adam Psikut"
            company="FatForLife.pl"
            paragraph="Współpraca z firmą Betterize to była najlepsza decyzja jaką mogłem podjąć. Ich szybkość, profesjonalizm i elastyczność były nie do przecenienia. Polecam każdemu, kto szuka wysokiej jakości usług internetowych."
        />
        <SwiperSlider
            src={guy}
            name=" Marek Pompa"
            company="2gonecup.pl"
            paragraph="Współpraca z firmą Betterize to była najlepsza decyzja jaką mogłem podjąć. Ich szybkość, profesjonalizm i elastyczność były nie do przecenienia. Polecam każdemu, kto szuka wysokiej jakości usług internetowych."
        />
        <SwiperSlider
            src={olek}
            name=" Ignacy Trąbasz"
            company="onliners.pl"
            paragraph="Dzięki firmie Betterize, moja strona internetowa jest teraz piękna i funkcjonalna. Zespół był bardzo kreatywny i elastyczny w dostosowaniu się do moich potrzeb. Gorąco polecam ich usługi."
        />
    </swiper-container>
</div>

<style>
    swiper-container {
        width: 100%;
        height: 100%;
    }
</style>

<script>
    import { register } from "swiper/element/bundle";
    import "swiper/css";

    register();

    // swiper element
    const swiperEl = document.querySelector("swiper-container");

    // swiper parameters
    const swiperParams = {
        cssMode: false,
        keyboard: true,
        mousewheel: false,
        navigation: true,
        pagination: true,
        paginationClickable: true,
        grabCursor: true,
        centeredSlides: true,
        effect: "cards",
        slidesPerView: 1,
        breakpoints: {
            1024: {
                slidesPerView: 1,
                // navigation: false,
            },
        },
        on: {
            init() {
                // ...
            },
        },
    };

    // now we need to assign all parameters to Swiper element
    Object.assign(swiperEl, swiperParams);

    // and now initialize it
    swiperEl.initialize();

    // swiperEl.swiper.
</script>
