---
import { Img } from "astro-imagetools/components";
import Marketing0Card from "./subcomponents/Marketing0Card.astro";
---

<div
    class="relative flex flex-col gap-16 mx-4 text-gray-100 lg:gap-32"
    id="marketing0"
>
    <Marketing0Card title="Prefabrykaty: Klucz do szybkości i niezawodności">
        <p class="p-paragraph">
            Dzięki naszej wiedzy i doświadczeniu, jesteśmy w stanie dostosować
            usługi do <strong>indywidualnych potrzeb i wymagań</strong>, aby
            wspólnie osiągnąć sukces w biznesie.
        </p>
        <p class="p-paragraph">
            Stawiamy na <strong
                >szybkość, solidność oraz dbałość o detale</strong
            >, by spełnić oczekiwania naszych klientów i pomóc im się wyróżnić
            na rynku.
        </p>
    </Marketing0Card>
    <Marketing0Card
        title="Dopasowanie rozwiązań do potrzeb branży"
        src="/src/assets/analytics1.jpg"
        reverseorder="true"
    >
        <p class="p-paragraph">
            W Betterize zdajemy sobie sprawę, że każda branża ma swoje unikalne
            potrzeby i wymagania. Dlatego naszym priorytetem jest <strong
                >dopasowanie rozwiązań</strong
            > do specyfiki Twojego biznesu.
        </p>
        <p class="p-paragraph">
            Wspólnie z Tobą tworzymy rozwiązania, które sprawią, że Twoje
            przedsiębiorstwo będzie się <strong
                >wyróżniać na tle konkurencji</strong
            > i zyska przewagę na rynku.
        </p>
    </Marketing0Card>
    <Marketing0Card
        title="Skupiamy się na małych i średnich przedsiębiorstwach"
        src="/src/assets/small.jpg"
    >
        <p class="p-paragraph">
            <strong>Analizujemy rynek i konkurencję</strong>, aby zrozumieć
            kluczowe aspekty Twojej działalności i dostarczyć strony
            internetowe, które będą w pełni odzwierciedlały
            <strong>wartości i cele Twojej firmy.</strong>
        </p>
        <p class="p-paragraph">
            W ten sposób, tworzymy strony szybko, solidnie i z dbałością o
            detale, spełniając wymagania waszych celów biznesowych.
        </p>
    </Marketing0Card>

    <section class="hidden overflow-hidden 2xl:block">
        <div class="absolute transform -translate-x-1/2 left-1/2 -top-80">
            <Img
                brightness={0.85}
                tint="251754"
                src="/src/assets/moon.png"
                width={150}
                alt="descriptive text"
            />
        </div>
        <div
            class="absolute z-10 w-12 h-12 transform -translate-x-1/2 rounded-full bg-sky-500 left-1/2 -top-68 bg-blur2 z-22"
        >
        </div>

        <div
            class="absolute z-20 overflow-hidden transform -translate-x-1/2 left-1/2 -top-61"
        >
            <svg
                width="1434"
                height="1929"
                viewBox="0 0 1434 1929"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
            >
                <path
                    d="M717 0V207C717 218.046 708.046 227 697 227L23 227C11.9543 227 3 235.954 3 247L3 710.5C3 721.546 11.9543 730.5 23 730.5H1411C1422.05 730.5 1431 739.454 1431 750.5V1242C1431 1253.05 1422.05 1262 1411 1262H23C11.9543 1262 3 1270.95 3 1282V1763.5C3 1774.55 11.9543 1783.5 23 1783.5H697C708.046 1783.5 717 1792.45 717 1803.5V1928.5"
                    stroke="#0ea5e9"
                    stroke-width="6"></path>
            </svg>
        </div>

        <div
            class="absolute z-10 w-12 h-12 transform -translate-x-1/2 rounded-full bg-sky-500 left-1/2 -bottom-20 bg-blur2 z-22"
        >
        </div>
        <div class="absolute transform -translate-x-1/2 left-1/2 -bottom-32">
            <Img
                brightness={0.35}
                tint="0ea5e9"
                src="/src/assets/moon.png"
                width={150}
                alt="descriptive text"
            />
        </div>
    </section>
</div>

<style>
    svg path {
        stroke-dasharray: 6190;
        stroke-dashoffset: 6190;
        animation: dash 25s forwards;
    }

    @keyframes dash {
        to {
            stroke-dashoffset: 0;
        }
    }
</style>
