---
import { Img } from "astro-imagetools/components";
---

<div class="flex flex-col gap-16 mx-4 text-gray-100 lg:gap-32" id="marketing0">
    <div class="grid w-full max-w-6xl grid-cols-1 gap-8 mx-auto lg:grid-cols-2">
        <div class="overflow-hidden rounded-lg">
            <Img
                src="/src/assets/wireframe.jpg"
                width={650}
                breakpoints={[480, 650]}
                loading="eager"
                layout="cover"
                alt="descriptive text"
            />
        </div>
        <div class="flex flex-col text-left">
            <h2 class="mx-auto header-2">
                Prefabrykaty: Klucz do szybkości i niezawodności
            </h2>

            <p class="p-paragraph">
                Dzięki naszej wiedzy i doświadczeniu, jesteśmy w stanie
                dostosować usługi do <strong
                    >indywidualnych potrzeb i wymagań</strong
                >, aby wspólnie osiągnąć sukces w biznesie.
            </p>
            <p class="p-paragraph">
                Stawiamy na <strong
                    >szybkość, solidność oraz dbałość o detale</strong
                >, by spełnić oczekiwania naszych klientów i pomóc im się
                wyróżnić na rynku.
            </p>
        </div>
    </div>
    <div class="grid w-full max-w-6xl grid-cols-1 gap-8 mx-auto lg:grid-cols-2">
        <div class="order-1 overflow-hidden rounded-lg lg:order-2">
            <Img
                src="/src/assets/small.jpg"
                width={650}
                breakpoints={[480, 650]}
                layout="cover"
                alt="descriptive text"
            />
        </div>
        <div class="flex flex-col justify-start order-2 text-left lg:order-1">
            <h2 class="mx-auto header-2">
                Skupiamy się na małych i średnich przedsiębiorstwach
            </h2>

            <p class="p-paragraph">
                W Betterize zdajemy sobie sprawę, że każda branża ma swoje
                unikalne potrzeby i wymagania. Dlatego naszym priorytetem jest <strong
                    >dopasowanie rozwiązań</strong
                > do specyfiki Twojego biznesu.
            </p>
            <p class="p-paragraph">
                <strong>Analizujemy rynek i konkurencję</strong>, aby zrozumieć
                kluczowe aspekty Twojej działalności i dostarczyć strony
                internetowe, które będą w pełni odzwierciedlały
                <strong>wartości i cele Twojej firmy.</strong>
            </p>
            <p class="p-paragraph">
                W ten sposób, tworzymy strony szybko, solidnie i z dbałością o
                detale, spełniając wymagania waszych celów biznesowych.
            </p>
        </div>
    </div>
    <div class="grid w-full max-w-6xl grid-cols-1 gap-8 mx-auto lg:grid-cols-2">
        <div class="overflow-hidden rounded-lg">
            <Img
                src="/src/assets/analytics1.jpg"
                width={650}
                breakpoints={[480, 650]}
                layout="cover"
                alt="descriptive text"
            />
        </div>
        <div class="flex flex-col text-left">
            <h2 class="mx-auto header-2">
                Dopasowanie rozwiązań do potrzeb branży
            </h2>

            <p class="p-paragraph">
                W Betterize używamy gotowych komponentów, czyli prefabrykatów,
                żeby stworzyć dla Ciebie stronę, która jest
                <strong>niezawodna i dobrze wykonana</strong>.
            </p>
            <p class="p-paragraph">
                Dzięki tym gotowym elementom, wszystko idzie szybciej i
                sprawniej, bo nie musimy zaczynać od zera.
            </p>
            <p class="p-paragraph">
                Wspólnie z Tobą tworzymy rozwiązania, które sprawią, że Twoje
                przedsiębiorstwo będzie się <strong
                    >wyróżniać na tle konkurencji</strong
                > i zyska przewagę na rynku.
            </p>
        </div>
    </div>
</div>
