---
import CardsHoverGradient from "./elements/CardsHoverGradient.astro";
import { Cards } from "@typescript/types/Cards";

const cards: Cards = [
    {
        title: "SEO",
        paragraph:
            "Szybsze strony mają wyższe pozycje w wynikach Google, co prowadzi do większej ilości ruchu organicznego (Google PageSpeed Insights)",
        src: "/assets/advantages/seo.svg",
    },
    {
        title: "Wyższa retencja klientów",
        paragraph:
            "79% klientów, którzy doświadczyli problemów z wydajnością strony, nie wraca do tego sklepu",
        src: "/assets/advantages/retention.svg",
    },
    {
        title: "Niższy współczynnik odrzuceń",
        paragraph:
            "Strony ładujące się 1-3s mają 32% większe ryzyko odrzucenia, a te ładujące się 1-5s aż o 90% większe!.",
        src: "/assets/advantages/bounce.svg",
    },
    {
        title: "Większa aktywność na stronie",
        paragraph:
            "Szybsze strony poprawiają wskaźniki aktywności użytkowników, takie jak dłuższy czas na stronie i więcej odwiedzanych podstron",
        src: "/assets/advantages/activity.svg",
    },
    {
        title: "Skrócony czas decyzji",
        paragraph:
            "Szybko ładujące się strony pozwalają użytkownikom szybciej podejmować decyzje o zakupie, zwiększając sprzedaż (Forbes)",
        src: "/assets/advantages/time.svg",
    },
    {
        title: "Skuteczniejsze reklamy",
        paragraph:
            "Szybsze strony prowadzą do niższych kosztów za kliknięcie (CPC) i wyższych współczynników konwersji w kampaniach reklamowych (WordStream)",
        src: "/assets/advantages/adds.svg",
    },
];
---

<div class="relative">
    <div
        class="absolute w-full transform bg-gradient-to-br from-gray-700/60 via-gray-800/60 to-purple-900/20 -skew-y-4 h-[2050px] lg:h-[920px] -translate-y-6 -z-10"
    >
    </div>
    <div class="mx-4">
        <div class="pb-16 show-on-scroll">
            <h2 class="mb-2 header-1">need for speed</h2>
            <p class="p-paragraph">
                Dlaczego wydajność strony jest kluczowa dla biznesu?
            </p>
        </div>
        <div class="flex justify-center w-full">
            <CardsHoverGradient cards={cards} />
        </div>
    </div>
</div>
