---
// Images
import SeoSVG from "@assets/advantages/seo.svg";
import RetentionSVG from "@assets/advantages/retention.svg";
import BounceSVG from "@assets/advantages/bounce.svg";
import ActivitySVG from "@assets/advantages/activity.svg";
import TimeSVG from "@assets/advantages/time.svg";
import AddsSVG from "@assets/advantages/adds.svg";
//
import CardsHoverGradient from "./elements/CardsHoverGradient.astro";
import type { Cards } from "@typescript/types/Cards";

import { t } from "astro-i18n";

const cards: Cards = [
    {
        title: t("index.marketing1.card1.title"),
        paragraph: t("index.marketing1.card1.paragraph"),
        src: SeoSVG,
    },
    {
        title: t("index.marketing1.card2.title"),
        paragraph: t("index.marketing1.card2.paragraph"),
        src: RetentionSVG,
    },
    {
        title: t("index.marketing1.card3.title"),
        paragraph: t("index.marketing1.card3.paragraph"),
        src: BounceSVG,
    },
    {
        title: t("index.marketing1.card4.title"),
        paragraph: t("index.marketing1.card4.paragraph"),
        src: ActivitySVG,
    },
    {
        title: t("index.marketing1.card5.title"),
        paragraph: t("index.marketing1.card5.paragraph"),
        src: TimeSVG,
    },
    {
        title: t("index.marketing1.card6.title"),
        paragraph: t("index.marketing1.card6.paragraph"),
        src: AddsSVG,
    },
];
---

<div class="relative">
    <div
        class="absolute w-full transform bg-gradient-to-br from-gray-700/60 via-gray-800/60 to-purple-900/20 -skew-y-4 h-[2200px] lg:h-[920px] -translate-y-6 -z-10"
    >
    </div>
    <div class="mx-4">
        <div class="pb-16 lg:show-on-scroll">
            <h2 class="mb-2 header-1">{t("index.marketing1.title")}</h2>
            <p class="p-paragraph">
                {t("index.marketing1.subtitle")}
            </p>
        </div>
        <div class="flex justify-center w-full">
            <CardsHoverGradient cards={cards} />
        </div>
    </div>
</div>
