---
import {
    Img,
    Picture,
    BackgroundPicture,
    BackgroundImage,
} from "astro-imagetools/components";
---

<div class="flex flex-col gap-20 mx-4">
    <div
        class="grid w-full max-w-6xl grid-cols-1 gap-8 mx-auto lg:grid-cols-2 grid-"
    >
        <div class="overflow-hidden rounded-lg h-80">
            <Img
                src="/src/assets/wireframe.jpg"
                width={650}
                layout="cover"
                alt="descriptive text"
            />
        </div>
        <div class="flex flex-col justify-start">
            <h2 class="pb-4 text-4xl font-bold text-left capitalize">
                Prefabrykaty: Klucz do szybkości i niezawodności
            </h2>
            <div class="flex flex-col gap-3 text-lg text-left">
                <p>
                    Dzięki naszej wiedzy i doświadczeniu, jesteśmy w stanie
                    dostosować usługi do <strong
                        >indywidualnych potrzeb i wymagań</strong
                    >, aby wspólnie osiągnąć sukces w biznesie.
                </p>
                <p>
                    Stawiamy na <strong
                        >szybkość, solidność oraz dbałość o detale</strong
                    >, by spełnić oczekiwania naszych klientów i pomóc im się
                    wyróżnić na rynku.
                </p>
            </div>
        </div>
    </div>
    <div class="grid w-full max-w-6xl grid-cols-1 gap-8 mx-auto lg:grid-cols-2">
        <div class="order-1 overflow-hidden rounded-lg lg:order-2 h-80">
            <Img
                src="/src/assets/small.jpg"
                width={650}
                layout="cover"
                alt="descriptive text"
            />
        </div>
        <div class="flex flex-col justify-start order-2 lg:order-1">
            <h2 class="pb-4 text-4xl font-bold text-left capitalize">
                Skupiamy się na małych i średnich przedsiębiorstwach
            </h2>
            <div class="flex flex-col gap-3 text-lg text-left">
                <p>
                    W Betterize zdajemy sobie sprawę, że każda branża ma swoje
                    unikalne potrzeby i wymagania. Dlatego naszym priorytetem
                    jest <strong>dopasowanie rozwiązań</strong> do specyfiki Twojego
                    biznesu.
                </p>
                <p>
                    <strong>Analizujemy rynek i konkurencję</strong>, aby
                    zrozumieć kluczowe aspekty Twojej działalności i dostarczyć
                    strony internetowe, które będą w pełni odzwierciedlały
                    <strong>wartości i cele Twojej firmy.</strong>
                </p>
                W ten sposób, tworzymy strony szybko, solidnie i z dbałością o detale,
                spełniając wasze oczekiwania.
            </div>
        </div>
    </div>
    <div class="grid w-full max-w-6xl grid-cols-1 gap-8 mx-auto lg:grid-cols-2">
        <div class="overflow-hidden rounded-lg h-80">
            <Img
                src="/src/assets/analytics1.jpg"
                width={650}
                layout="cover"
                alt="descriptive text"
            />
        </div>
        <div class="flex flex-col justify-start">
            <h2 class="pb-4 text-4xl font-bold text-left capitalize">
                Dopasowanie rozwiązań do potrzeb branży
            </h2>
            <div class="flex flex-col gap-3 text-lg text-left">
                <p>
                    w Betterize używamy gotowych komponentów, czyli
                    prefabrykatów, żeby robić dla Ciebie stronę, która jest
                    <strong>niezawodna i dobrze wykonana</strong>.
                </p>
                <p>
                    Dzięki tym gotowym elementom, wszystko idzie szybciej i
                    sprawniej, bo nie musimy zaczynać od zera.
                </p>
                <p>
                    Wspólnie z Tobą tworzymy rozwiązania, które sprawią, że
                    Twoje przedsiębiorstwo będzie się <strong
                        >wyróżniać na tle konkurencji</strong
                    > i zyska przewagę na rynku.
                </p>
            </div>
        </div>
    </div>
</div>
