---
import {
    Img,
    Picture,
    BackgroundPicture,
    BackgroundImage,
} from "astro-imagetools/components";
---

<div class="flex flex-col gap-20">
    <div
        class="grid w-full max-w-6xl grid-cols-1 gap-8 mx-auto lg:grid-cols-2 grid-"
    >
        <div class="overflow-hidden rounded-lg h-80">
            <Img
                src="/src/assets/adam.jpg"
                width={650}
                layout="cover"
                alt="descriptive text"
            />
        </div>
        <div class="flex flex-col justify-start">
            <h2 class="pb-4 text-4xl font-bold text-left capitalize">
                Prefabrykaty
            </h2>
            <div class="flex flex-col gap-3 text-lg text-left">
                <p>
                    w Betterize używamy gotowych komponentów, czyli
                    prefabrykatów, żeby robić dla Ciebie stronę, która jest
                    niezawodna i dobrze wykonana.
                </p>
                <p>
                    Dzięki tym gotowym elementom, wszystko idzie szybciej i
                    sprawniej, bo nie musimy zaczynać od zera.
                </p>
                W ten sposób, tworzymy strony szybko, solidnie i z dbałością o detale,
                spełniając wasze oczekiwania.
            </div>
        </div>
    </div>
    <div class="grid w-full max-w-6xl grid-cols-1 gap-8 mx-auto lg:grid-cols-2">
        <div class="order-2 overflow-hidden rounded-lg h-80">
            <Img
                src="/src/assets/adam.jpg"
                width={650}
                layout="cover"
                alt="descriptive text"
            />
        </div>
        <div class="flex flex-col justify-start order-1">
            <h2 class="pb-4 text-4xl font-bold text-left capitalize">
                Skupiamy się na małych i średnich przedsiębiorstwach
            </h2>
            <div class="flex flex-col gap-3 text-lg text-left">
                <p>
                    w Betterize używamy gotowych komponentów, czyli
                    prefabrykatów, żeby robić dla Ciebie stronę, która jest
                    niezawodna i dobrze wykonana.
                </p>
                <p>
                    Dzięki tym gotowym elementom, wszystko idzie szybciej i
                    sprawniej, bo nie musimy zaczynać od zera.
                </p>
                W ten sposób, tworzymy strony szybko, solidnie i z dbałością o detale,
                spełniając wasze oczekiwania.
            </div>
        </div>
    </div>
    <div class="grid w-full max-w-6xl grid-cols-1 gap-8 mx-auto lg:grid-cols-2">
        <div class="overflow-hidden rounded-lg h-80">
            <Img
                src="/src/assets/adam.jpg"
                width={650}
                layout="cover"
                alt="descriptive text"
            />
        </div>
        <div class="flex flex-col justify-start">
            <h2 class="pb-4 text-4xl font-bold text-left capitalize">
                Dopasowanie rozwiązań do potrzeb branży
            </h2>
            <div class="flex flex-col gap-3 text-lg text-left">
                <p>
                    w Betterize używamy gotowych komponentów, czyli
                    prefabrykatów, żeby robić dla Ciebie stronę, która jest
                    niezawodna i dobrze wykonana.
                </p>
                <p>
                    Dzięki tym gotowym elementom, wszystko idzie szybciej i
                    sprawniej, bo nie musimy zaczynać od zera.
                </p>
                W ten sposób, tworzymy strony szybko, solidnie i z dbałością o detale,
                spełniając wasze oczekiwania.
            </div>
        </div>
    </div>
</div>
