---
const seo = "/src/assets/seo.png";
const bounce = "/src/assets/bounce.png";
const reputation = "/src/assets/reputation.png";

import AdvantageItem from "@components/subcomponents/AdvantageItem.astro";
---

<div class="main-content">
    <div class="pb-16">
        <h2 class="header-1">need for speed</h2>
        <p class="header-2">
            Dlaczego wydajność strony jest kluczowa dla biznesu?
        </p>
    </div>

    <div class="max-w-md grid gap-16 grid-cols-1 lg:(grid-cols-3 max-w-6xl)">
        <AdvantageItem
            title="Prędkość a SEO"
            description="Google uważa szybkość strony internetowej za czynnik wpływający na pozycjonowanie w wyszukiwarkach. Szybsze strony są bardziej prawdopodobne do zajęcia wyższych miejsc w wynikach wyszukiwania i mogą przyczynić się do uzyskania o 33% więcej organicznego ruchu. "
            image={{ src: seo, width: 200 }}
        />
        <AdvantageItem
            title="Wskaźnik Odrzuceń"
            description="Według Google, jeśli strona ładuje się od 1 do 3 sekund, prawdopodobieństwo odrzucenia wzrasta o 32%. Dla stron, które ładują się od 1 do 5 sekund, prawdopodobieństwo odrzucenia wzrasta o 90%. "
            image={{ src: bounce, width: 200 }}
        />
        <AdvantageItem
            title="Reputacja Marki "
            description="Wolna strona internetowa może uszkodzić reputację marki, prowadząc do zmniejszenia zaufania i lojalności klientów. Ankieta przeprowadzona przez Akamai wykazała, że 79% klientów, którzy doświadczają problemów z wydajnością strony internetowej, jest mniej skłonna do powrotu na tę samą stronę "
            image={{ src: reputation, width: 200 }}
        />
    </div>
</div>
