---
// @ts-ignore
import { renderImg } from "astro-imagetools/api";
import Testimonials from "./Testimonials.vue";
// @ts-ignore
import { Testimonial, ProcessedTestimonial } from "@typescript/Testimonials";
import { t } from "astro-i18n";

const testimonialsData: Testimonial[] = [
    {
        src: "/src/assets/grzegorz.jpg",
        name: t("index.marketing2.testimonial1.name"),
        company: t("index.marketing2.testimonial1.company"),
        paragraph: t("index.marketing2.testimonial1.paragraph"),
    },
    {
        src: "/src/assets/daniel2.jpg",
        name: t("index.marketing2.testimonial2.name"),
        company: t("index.marketing2.testimonial2.company"),
        paragraph: t("index.marketing2.testimonial1.paragraph"),
    },
    {
        src: "/src/assets/eryk.jpg",
        name: t("index.marketing2.testimonial3.name"),
        company: t("index.marketing2.testimonial3.company"),
        paragraph: t("index.marketing2.testimonial3.paragraph"),
    },
];

async function render_img_html(src: string) {
    const renderedHTML = await renderImg({
        src: src,
        alt: "Person",
        width: 400,
        height: 400,
        aspect: 1,
    });
    // renderedHTML has 3 fields: { link, style, img };

    return renderedHTML;
}

async function processTestimonialsData(): Promise<ProcessedTestimonial[]> {
    const updatedTestimonialsData = await Promise.all(
        testimonialsData.map(async (testimonial) => {
            const renderedHTML = await render_img_html(testimonial.src);
            return {
                ...testimonial,
                src: renderedHTML,
            };
        })
    );

    return updatedTestimonialsData;
}

const testimonialsWithSrcAsImg = await processTestimonialsData().then(
    (updatedData) => updatedData
);
---

<div class="relative">
    <h2 class="pb-12 header-1">{t("index.marketing2.title")}</h2>

    <Testimonials testimonials_data={testimonialsWithSrcAsImg} client:visible />
</div>
