---
import { Img, Picture } from "astro-imagetools/components";
import ButtonContact from "./subcomponents/ButtonContact.astro";
import {
    Astronav,
    MenuItems,
    MenuIcon,
    Dropdown,
    DropdownItems,
} from "astro-navbar";
---

<header
    aria-label="Site Header"
    class="bg-gray-800 shadow-lg w-full shadow-gray-900"
>
    <section class="mx-auto max-w-screen-xl py-4 px-8">
        <div class="flex gap-4 items-center justify-between lg:gap-10">
            <div class="flex lg:flex-1 lg:w-0">
                <a href="/" rel="prefetch" class="image-animation">
                    <Img
                        src="/src/assets/logo.png"
                        placeholder="none"
                        loading="eager"
                        width={80}
                        format="avif"
                        alt="descriptive text"
                    />
                </a>
            </div>

            <nav
                aria-label="Site Nav"
                class="font-medium text-sm text-md gap-8 hidden md:flex"
            >
                <a
                    rel="prefetch"
                    class="transition-smooth ease-in-out text-gray-300"
                    href="/blog">Blog</a
                >
                <a
                    rel="prefetch"
                    class="transition-smooth ease-in-out text-gray-300"
                    href="/about">Projekty</a
                >
            </nav>

            <div class="flex-1 gap-4 hidden items-center justify-end sm:flex">
                <ButtonContact />
            </div>
        </div>
    </section>
</header>
