---
import ButtonContact from "./subcomponents/ButtonContact.astro";
import {
    Astronav,
    MenuItems,
    MenuIcon,
    Dropdown,
    DropdownItems,
} from "astro-navbar";

import logo1x from "/src/assets/logo_1x.webp";
import logo2x from "/src/assets/logo_2x.webp";
import logo3x from "/src/assets/logo_3x.webp";
---

<header
    aria-label="Site Header"
    class="bg-gray-800/50 shadow-lg w-full shadow-gray-900"
>
    <section class="mx-auto max-w-screen-xl py-4 px-8 z-20">
        <div class="flex gap-4 items-center justify-between gap-10">
            <div class="flex lg:flex-1 lg:w-0">
                <a href="/" class="image-animation hover:opacity-80">
                    <img
                        srcset={`${logo1x} 1x, ${logo2x} 2x, ${logo3x} 3x`}
                        sizes="(max-width: 640px) 40px, (min-width: 640px) 120px"
                        width="80"
                        height="64"
                        loading="eager"
                        alt="descriptive text"
                    />
                </a>
            </div>

            <nav
                aria-label="Site Nav"
                class="font-medium text-sm text-md gap-8 hidden md:flex"
            >
                <a
                    class="transition-smooth ease-in-out text-gray-300"
                    href="/blog">Blog</a
                >
                <a
                    class="transition-smooth ease-in-out text-gray-300"
                    href="/projects">Projekty</a
                >
            </nav>

            <div class="flex-1 gap-4 hidden items-center justify-end md:flex">
                <ButtonContact />
            </div>
			<div class="flex items-center md:hidden">
				<button class="outline-none mobile-menu-button">
					<svg class=" h-8 text-gray-500 w-8 hover:text-sky-500 "
						x-show="!showMenu"
						fill="none"
						stroke-linecap="round"
						stroke-linejoin="round"
						stroke-width="2"
						viewBox="0 0 24 24"
						stroke="currentColor"
					>
						<path d="M4 6h16M4 12h16M4 18h16"></path>
					</svg>
				</button>
			</div>
        </div>
		<div class="hidden mobile-menu">
			<ul class="">
				<li><a href="index.html" class="text-sm py-4 px-2 transition duration-300 block hover:bg-sky-500">Strona Główna</a></li>
				<li><a href="/blog" class="text-sm py-4 px-2 transition duration-300 block hover:bg-sky-500">Blog</a></li>
				<li><a href="/projects" class="text-sm py-4 px-2 transition duration-300 block hover:bg-sky-500">Projekty</a></li>
				<li><div class="flex-1 gap-4 hidden mx-auto items-center justify-center sm:flex">
					<ButtonContact />
				</div></li>
			</ul>
		</div>
    </section>
	
</header>


<script>
	const btn = document.querySelector("button.mobile-menu-button");
	const menu = document.querySelector(".mobile-menu");

	btn.addEventListener("click", () => {
		menu.classList.toggle("hidden");
	});
</script>