---
import ProofItem from "./subcomponents/ProofItem.astro";
import { getTranslatedRoute } from "@typescript/routeTranslate";
import { astroI18n, t } from "astro-i18n";

const { loading = "lazy" } = Astro.props;
---

<div class="relative">
    <div
        class="absolute w-full transform bg-gradient-to-br from-gray-700/60 via-gray-800/60 to-purple-900/20 skew-y-4 h-[2450px] lg:h-[900px] -translate-y-6 -z-10"
    >
    </div>
    <div class="mx-auto main-content lg:show-on-scroll">
        <h2 class="pb-16 header-1">{t("index.proof.title")}</h2>
        <div
            class="grid w-full gap-8 rounded-xl gird-cols-1 lg:grid-cols-3 xl:w-6xl"
        >
            <ProofItem
                title={t("proof.item1.title")}
                paragraph={t("proof.item1.paragraph")}
                src="/src/assets/database-blue.png"
                href={getTranslatedRoute(
                    astroI18n.langCode,
                    "/projects/swiperight-admin/"
                )}
                loading={loading}
                date={t("proof.item1.date")}
            />
            <ProofItem
                title={t("proof.item2.title")}
                paragraph={t("proof.item2.paragraph")}
                src="/src/assets/article.jpg"
                href={getTranslatedRoute(
                    astroI18n.langCode,
                    "/projects/optymalne-strony/"
                )}
                loading={loading}
                date={t("proof.item2.date")}
            />
            <ProofItem
                title={t("proof.item3.title")}
                paragraph={t("proof.item3.paragraph")}
                src="/src/assets/betterize2.png"
                href={getTranslatedRoute(
                    astroI18n.langCode,
                    "/projects/betterize/"
                )}
                loading={loading}
                date={t("proof.item3.date")}
            />
        </div>
    </div>
</div>
