---
import ProofItem from "./subcomponents/ProofItem.astro";
const { loading = "lazy" } = Astro.props;
---

<div class="relative">
    <div
        class="absolute w-full transform bg-gradient-to-br from-gray-700/60 via-gray-800/60 to-purple-900/20 skew-y-4 h-[2450px] lg:h-[900px] -translate-y-6 -z-10"
    >
    </div>
    <div class="mx-auto main-content lg:show-on-scroll">
        <h2 class="pb-16 header-1">Nasze Projekty:</h2>
        <div
            class="grid w-full gap-8 rounded-xl gird-cols-1 lg:grid-cols-3 xl:w-6xl"
        >
            <ProofItem
                title="Manager sesji zdjęciowych dla swiperight.pl"
                paragraph="Wraz ze zwiększającą się ilością obsługiwanych klientów Swiperight zaczęło coraz bardziej potrzebować niezawodnego, zautomatyzowanego procesu zarządzania usługami."
                src="/src/assets/database-blue.png"
                href="/projects/swiperight-admin"
                loading={loading}
            />
            <ProofItem
                title="Co robimy, aby zapewnić najlepszą jakość usługi dla klienta?"
                paragraph="Wygląd, wydajność i intuicyjna obsługa to trzy najważniejsze rzeczy jeśli chodzi o stronę internetową. Opowiemy Ci pokrótce co robimy, aby każdy z tych trzech punktów był na najwyższym poziomie."
                src="/src/assets/article.jpg"
                href="/projects/optymalne-strony"
                loading={loading}
            />
            <ProofItem
                title="Perfekcyjny wynik GoogleLighthouse na Betterize"
                paragraph="Betterize to firma skupiająca się na tworzeniu stron internetowych. Bardzo ważne było dla nich zwiększenie konwersji i serwowanie zdjęć na swojej stronie w możliwie optymalny sposób."
                src="/src/assets/betterize2.png"
                href="/projects/betterize"
                loading={loading}
            />
        </div>
    </div>
</div>
