---
import { Img, Picture } from "astro-imagetools/components";
import ProofItem from "./subcomponents/ProofItem.astro";

const blog1 = "/src/assets/swiperight.jpg";
const blog2 = "/src/assets/betterize.jpg";
const blog3 = "/src/assets/marketliners.jpg";
---

<div class="mx-auto max-w-screen main-content">
    <h2 class="pb-16 header-1">Nasze Projekty:</h2>
    <div
        class="grid w-full gap-8 rounded-xl gird-cols-1 lg:grid-cols-3 xl:w-6xl"
    >
        <ProofItem
            title="zwiększenie leadów o 180% dla firmy Marketliners"
            paragraph="Dzięki poprawie jakości i przejrzystości informacji na stronie Marketliners, skróceniu formularzy kontaktowych i wykorzystaniu opinii klientów oraz elementów społecznościowych, udało mi się zwiększyć o 180% wzrost zapisów na rozmowę wstępną na temat produktu."
            src="/src/assets/marketliners.jpg"
            href="/projects/dubbleup"
        />
        <ProofItem
            title="Jak poprawiliśmy wydajność swiperight.pl"
            paragraph="Swiperight to firma skupiająca się na robieniu zdjęć dla randkowiczów. Bardzo ważne było dla niech zwiększenie konwersji i serwowanie zdjęć na swojej stronie w możliwie optymalny sposób."
            src="/src/assets/swiperight.jpg"
            href="/projects/swiperight"
        />
        <ProofItem
            title="Perfekcyjny wynik GoogleLighthouse na Betterize"
            paragraph="Betterize to firma skupiająca się na robieniu stron internetowych. Bardzo ważne było dla niech zwiększenie konwersji i serwowanie zdjęć na swojej stronie w możliwie optymalny sposób."
            src="/src/assets/betterize.jpg"
            href="/projects/betterize"
        />
    </div>
</div>
