---
import PageSpeed from "@components/PageSpeed";
---

<section class="flex flex-col justify-center rounded-lg main-content">
    <div
        class="relative px-4 pt-20 pb-10 border rounded-lg shadow-2xl bg-black/90 bg-opacity bg-clip-padding border-gray-300/50"
    >
        <div class="pb-12">
            <h1 class="pb-4 header-1">Sprawdź wydajność swojej strony</h1>
            <p class="ordinary-text">
                Google w 2021 wprowadził nowe standardy oceniania i
                pozycjonowania stron internetowych. Sprawdź czy twoja strona
                spełnia nowe wymagania Googla
            </p>
        </div>
        <div
            class="absolute inset-0 rounded-lg animate-pulse bg-gradient-to-br from-indigo-500 via-teal-500 to-sky-500 bg-blur -z-1"
        >
        </div>

        <PageSpeed client:visible />
    </div>
</section>
