---
import PageSpeed from "@components/PageSpeed";
import { t } from "astro-i18n";

---

<section class="flex flex-col justify-center rounded-lg main-content">
    <div
        class="relative px-4 pt-20 pb-10 border rounded-lg shadow-2xl bg-black/90 bg-opacity bg-clip-padding border-gray-300/50"
    >
        <div class="pb-12">
            <h2 class="pb-4 header-1">{t("section1.title")}</h2>
            <p class="ordinary-text">
                {t("section1.subtitle")}
            </p>
        </div>
        <div
            class="absolute inset-0 rounded-lg animate-pulse bg-gradient-to-br from-indigo-500 via-teal-500 to-sky-500 bg-blur -z-1"
        >
        </div>

        <PageSpeed
            client:visible
            url={t("section1.pageSpeedQuery.url")}
            test={t("section1.pageSpeedQuery.test")}
            processing={t("section1.pageSpeedQuery.processing")}
            description={t("section1.pageSpeedQuery.description")}
            poor={t("section1.results.poor")}
            average={t("section1.results.average")}
            excellent={t("section1.results.excellent")}
            performance={t("section1.labels.performance")}
            seo={t("section1.labels.seo")} 
            accessibility={t("section1.labels.accessibility")}
            best_practices={t("section1.labels.best_practices")}
        />
    </div>
</section>
