---
import PageSpeed from "@components/PageSpeed";
import { BackgroundImage } from "astro-imagetools/components";
import Faded from "@components/elements/Faded.astro";
const bg = "/src/assets/bg7.jpg";
---

<div class="relative">
    <Faded color="#151317" direction="top" />
    <Faded color="#151317" direction="bottom" />

    <BackgroundImage
        src={bg}
        format="avif"
        placeholder="blurred"
        backgroundSize="cover"
        quality={90}
        brightness={0.7}
        breakpoints={{ count: 6, minWidth: 400, maxWidth: 2560 }}
        preload="avif"
    >
        <section
            class="rounded-lg flex flex-col h-screen main-content justify-center lg:h-screen"
        >
            <div
                class="bg-clip-padding bg-black border rounded-lg bg-opacity-60 border-gray-300/20 py-20 px-4 shadow-2xl shadow-sky-800/50 backdrop-filter backdrop-blur-xl"
            >
                <div class="pb-12">
                    <h2 class="pb-4 header-1">
                        Sprawdź wydajność swojej strony
                    </h2>
                    <p class="ordinary-text">
                        Google w 2021 wprowadził nowe standardy oceniania i
                        pozycjonowania stron internetowych. Sprawdź czy twoja
                        strona spełnia nowe wymagania Googla
                    </p>
                </div>

                <PageSpeed client:visible />
            </div>
        </section>
    </BackgroundImage>
</div>
