---
import StepByStepElement from "./subcomponents/StepByStepElement.astro";
import { t } from "astro-i18n";
---

<section>
    <h2 class="pb-16 header-1">{t("index.steps.title")}</h2>
    <div class="flex flex-col max-w-4xl mx-auto" id="StepByStepAllCards">
        <StepByStepElement
            id="start"
            title={t("index.steps.step1.title")}
            paragraph={t("index.steps.step1.paragraph")}
            number={1}
            src="/src/assets/steps/conversation.png"
        />
        <StepByStepElement
            id="end"
            title={t("index.steps.step2.title")}
            paragraph={t("index.steps.step2.paragraph")}
            number={2}
            src="/src/assets/steps/ux.png"
        />

        <StepByStepElement
            title={t("index.steps.step3.title")}
            paragraph={t("index.steps.step3.paragraph")}
            number={3}
            src="/src/assets/steps/coding.png"
        />

        <StepByStepElement
            title={t("index.steps.step4.title")}
            paragraph={t("index.steps.step4.paragraph")}
            number={4}
            src="/src/assets/steps/data.png"
        />

        <StepByStepElement
            title={t("index.steps.step5.title")}
            paragraph={t("index.steps.step5.paragraph")}
            number={5}
            src="/src/assets/steps/global-server.png"
        />

        <StepByStepElement
            title={t("index.steps.step6.title")}
            paragraph={t("index.steps.step6.paragraph")}
            number={6}
            src="/src/assets/steps/upgrade.png"
            connect="hidden"
        />
    </div>
</section>

<style>
    #cards {
        width: calc(100% - 20px);
    }

    #cards:hover > .card::after {
        opacity: 1;
    }
    .card {
        position: relative;
    }

    .card:hover::before {
        opacity: 1;
    }

    .card::before,
    .card::after {
        border-radius: inherit;
        content: "";
        height: 100%;
        left: 0px;
        opacity: 0;
        position: absolute;
        top: 0px;
        transition: opacity 500ms;
        width: 100%;
    }

    .card::before {
        background: radial-gradient(
            800px circle at var(--mouse-x) var(--mouse-y),
            rgba(248, 0, 0, 0.06),
            transparent 40%
        );

        z-index: 3;
    }

    .card::after {
        background: radial-gradient(
            600px circle at var(--mouse-x) var(--mouse-y),
            rgba(255, 255, 255, 0.4),
            transparent 40%
        );
        z-index: 1;
    }

    .card > .card-content {
        background-color: var(--card-color);
        border-radius: inherit;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        inset: 1px;
        position: absolute;
        z-index: 2;
    }
</style>

<style>
    .divik {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        background: ivory;
        font-family: "Segoe UI", sans-serif;
        border-radius: 5px;
        cursor: grab;
        user-select: none;
    }

    #start {
        width: 100px;
        height: 75px;
        left: 50px;
        top: 50px;
    }

    #end {
        width: 150px;
        height: 110px;
        bottom: 100px;
        right: 100px;
    }
</style>
