<section>
    <h2 class="pb-8 header-1">How we will work</h2>
    <div
        class="mx-auto bg-gray-800 grid py-8 px-4 gap-8 grid-cols-1 main-content lg:grid-cols-2"
    >
        <div class="bg-gray-600 h-32 w-full">
            <h2>adasdas</h2>
            <p>adsads</p>
        </div>
        <div class="bg-gray-600 h-32 w-full">
            <h2>adasdas</h2>
            <p>adsads</p>
        </div>
        <div class="bg-gray-600 h-32 w-full">
            <h2>adasdas</h2>
            <p>adsads</p>
        </div>
        <div class="bg-gray-600 h-32 w-full">
            <h2>adasdas</h2>
            <p>adsads</p>
        </div>
        <div class="bg-gray-600 h-32 w-full">
            <h2>adasdas</h2>
            <p>adsads</p>
        </div>
        <div class="bg-gray-600 h-32 w-full">
            <h2>adasdas</h2>
            <p>adsads</p>
        </div>
    </div>
</section>
