<div class="border mx-auto max-w-5xl">
    <h2 class="header-1">How we will work</h2>
    <div class="flex flex-col bg-gray-800 h-32">
        <div>
            <h2>adasdas</h2>
            <p>adsads</p>
        </div>
    </div>
</div>
