---
import { getBlogPost } from "@components/strapi_client";
import DynamicZone from "./../dynamic_zone/DynamicZone.astro";

interface Props {
    slug?: string;
}

const { slug } = Astro.props;

const postItem = await getBlogPost(slug as string);

const postAttributes = postItem.attributes;
---

<main class="flex flex-col min-h-screen gap-2 mx-auto lg:gap-16">
    <article class="flex flex-col max-w-2xl mx-auto text-left">
        <h1 class="blog-header mt-20">{postAttributes.title}</h1>
        <p>{postAttributes.excerpt}</p>
        <DynamicZone blocks={postAttributes.body} />
    </article>
</main>
