---
enum Style {
    Ordered = "ordered",
    Unordered = "unordered",
}

interface Props {
    style: Style;
    items: [string];
}

const { style, items } = Astro.props;

const ListElement = style == Style.Ordered ? 'ol' : 'ul';
---

<div class="px-4 pb-2 text-left">
    <ListElement>
        {
            items.map( (item: string) =>
                        <li class="pb-2"> <Fragment set:html={item} /> </li>
                     )
        }
    </ListElement>
</div>
