---
interface Props {
    text: string;
}

const { text } = Astro.props;
---

<div
    class="flex items-center max-w-xl gap-2 py-2 font-normal text-left text-gray-300"
>
    <p class="max-w-xl pb-3 font-normal text-gray-300 text-md lg:text-lg">
        <Fragment set:html={text} />
    </p>
</div>
