---
const { data } = Astro.props;

console.error("Not supported (yet) block element:", data);
---

<div class="my-10">
    <p>
        Dodałeś element niewspierany przez edytor. Usuń, aby poprawnie
        wyświetlić treść.
    </p>
</div>
