---
import Layout from "@layouts/Layout.astro";
import Nav from "@components/Navbar/Nav.astro";
import Proof from "@components/Proof.astro";
import Footer from "@components/Footer.astro";
import { getCaseStudiesAttributes } from "@components/stapi_client/index";
import CaseStudyPage from "@components/stapi_client/components/case_studies/CaseStudyPage.astro";
import { astroI18n } from "astro-i18n";
astroI18n.init(Astro);

export async function getStaticPaths() {
    const attributes = await getCaseStudiesAttributes();

    // See: https://docs.astro.build/en/reference/api-reference/#getstaticpaths

    return attributes
        .filter((project) => project.locale === astroI18n.langCode)
        .map((attributes) => ({
            params: { slug: attributes.slug },
            props: { title: attributes.title },
        }));

}
---

<Layout title={Astro.props.title} description={Astro.props.title}>
    <div class="mb-10 lg:mb-20">
        <Nav />
    </div>
    <CaseStudyPage slug={Astro.params.slug} />
    <div class="my-10 mb-20">
        <Proof />
    </div>
    <div class="mt-auto">
        <Footer />
    </div>

    <script>
        import { isMobileDevice } from "/src/typescript/isMobile.ts";

        if (!isMobileDevice()) {
            let script = document.createElement("script");

            script.src = "/scripts/vanilla-tilt.min.js";

            script.onload = function () {
                window.VanillaTilt = VanillaTilt;
                VanillaTilt.init(
                    document.querySelectorAll("[data-tilt-desktop]")
                );
            };

            document.body.appendChild(script);
        }
    </script>
</Layout>

<style>
    .dotted-bullet::before {
        content: "•";
        display: inline-block;
        margin-right: 0.5rem;
        color: currentColor;
        font-size: 1.25rem;
    }
</style>
