---
import Layout from "@layouts/Layout.astro";
import Nav from "@components/Nav.astro";
import Footer from "@components/Footer.astro";
---

<Layout>
    <div class="mb-10 lg:mb-20">
        <Nav />
    </div>
    <main
        class="border flex flex-col mx-auto min-h-screen max-w-6xl p-4 gap-2  xl:(p-0 gap-28) "
    >
    <div class="">
             <h1 class="text-center header-1 "> Betterize Case Study </h1>
        <h2 class="font-medium text-left header-2"> Wstęp </h2>
    </div>
    </main>
    <div class="mt-auto">
        <Footer />
    </div>
</Layout>