---
import Layout from "@layouts/Layout.astro";
import Nav from "@components/Navbar/Nav.astro";
import Footer from "@components/Footer.astro";
import FancyBg from "@components/subcomponents/FancyBg.astro";

const { blok } = Astro.props;
---

<Layout>
    <FancyBg />
    <Nav />
    <main class="flex flex-col min-h-screen gap-2 mx-auto lg:gap-16">
        <h1>Hello there</h1>
    </main>
    <div class="mt-auto">
        <Footer />
    </div>
</Layout>
