---
import Youtube from "@components/strapidynamic/layout/embed/subcomponents/Youtube.astro";
import Vimeo from "@components/strapidynamic/layout/embed/subcomponents/Vimeo.astro";
import Unsupported from "@components/strapidynamic/layout/embed/subcomponents/Unsupported.astro";
import type { Embed } from "@components/strapidynamic/typescript/types";
import { EmbedVideoPlatform } from "@components/strapidynamic/typescript/types";
import { getEmbedType } from "@components/strapidynamic/layout/embed/embedType";

interface Props {
    data: Embed;
}

const { data } = Astro.props;
---

<div class="px-4">
    {
        () => {
            switch (getEmbedType(data.url)) {
                case EmbedVideoPlatform.youtube:
                    return <Youtube data={data} />;
                case EmbedVideoPlatform.vimeo:
                    return <Vimeo data={data} />;
                default:
                    return <Unsupported />;
            }
        }
    }
</div>
