---
import { Img, BackgroundImage } from "astro-imagetools/components";
import { getImageUrl } from "@typescript/strapiApi";
import type { BackgroundContent } from "@components/strapidynamic/typescript/types";

interface Props {
    data: BackgroundContent;
}

const { data } = Astro.props;
---

<BackgroundImage
    src={getImageUrl(data.image)}
    brightness={0.2}
    artDirectives={[
        {
            src: "/src/assets/guy.png",
            media: "(orientation: potrait)",
        },
    ]}
>
    <div
        class="flex flex-col items-center justify-center px-4 mx-auto text-center h-120"
    >
        <h2 class="text-5xl capitalize header-2">
            {data.headline}
        </h2>
        <h2 class="text-center p-paragraph">
            {data.content}
        </h2>
    </div>
</BackgroundImage>
