---
import Icon from "@components/strapidynamic/subcomponents/Icon.astro";
import type { CompanyList } from "@components/strapidynamic/typescript/types";

interface Props {
    data: CompanyList;
}

const { data } = Astro.props;
---

<div class="flex max-w-6xl gap-4 px-4 mx-auto lg:gap-12">
    {
        data.companies.map((item) => {
            return <Icon data={item} />;
        })
    }
</div>
