---
import EditorContent from "@components/editorjs/EditorContent.astro";

// TODO: Add custom type
interface Props {
    content: string;
}

const { content } = Astro.props;

const blocks = JSON.parse(content).blocks;
---

<div>
    <EditorContent blocks={blocks} />
</div>
