---
import type {
    Gallery,
    GalleryImage,
} from "@components/strapidynamic/typescript/types";
import { Img } from "astro-imagetools/components";
import { getImageUrl } from "@typescript/strapiApi";

interface Props {
    data: Gallery;
}

const { data } = Astro.props;
---

<h2>{data.headline}</h2>
<div class={`grid grid-cols-${data.columns}`}>
    {
        data.image.map((item: GalleryImage) => {
            return (
                <Img
                    src={getImageUrl(item.image)}
                    alt="advantage_item"
                    placeholder="none"
                    width={300}
                />
            );
        })
    }
</div>
