---
import PricingPlan from "@components/strapidynamic/subcomponents/PricingPlan.astro";
import type { PricingSection } from "@components/strapidynamic/typescript/types";

interface Props {
    data: PricingSection;
}

const { data } = Astro.props;
---

<div
    class="grid w-full max-w-6xl grid-cols-1 gap-4 px-4 mx-auto lg:grid-cols-3"
>
    {
        data.plan.map((plan) => {
            return <PricingPlan data={plan} />;
        })
    }
</div>
