---
import type { SimpleHeadline } from "@components/strapidynamic/typescript/types";

interface Props {
    data: SimpleHeadline;
}

const { data } = Astro.props;
---

<div class="flex flex-col justify-center mx-auto text-left">
    <h2>{data.text}</h2>
</div>
