---
import CardsElement from "./CardsElement.astro";
import { Cards } from "@typescript/types/Cards";

interface Props {
    cards?: Cards;
}

const {
    cards = [
        {
            title: "Title 1",
            paragraph: "Paragraph 1",
            src: "/src/assets/advantages/seo.svg",
        },
        {
            title: "Title 2",
            paragraph: "Paragraph 2",
            src: "/src/assets/advantages/seo.svg",
        },
        {
            title: "Title 3",
            paragraph: "Paragraph 3",
            src: "/src/assets/advantages/seo.svg",
        },
    ],
} = Astro.props;
---

<div
    class="grid w-full max-w-6xl grid-cols-1 gap-2 md:grid-cols-2 lg:grid-cols-3"
    id="cards"
>
    {
        cards.map((card) => (
            <CardsElement
                title={card.title}
                paragraph={card.paragraph}
                src={card.src}
            />
        ))
    }
</div>
<!-- 
<script>
    import { createObserversForChildrenOfElementWithId } from "@typescript/mousePosition.ts";

    const observers = createObserversForChildrenOfElementWithId({
        id: "cards",
        class: "card",
    });
</script> -->
