---
import { AstroSeo } from "@astrolib/seo";
import "../styles/styles.css";
import { GoogleFontsOptimizer } from "astro-google-fonts-optimizer";
import { ImageSupportDetection } from "astro-imagetools/components";

// import partytown from "/src/utils/partytown.js";
---

<html class="scroll-smooth" lang="pl">
    <head>
        <link
            rel="apple-touch-icon"
            sizes="180x180"
            href="/apple-touch-icon.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="/favicon-32x32.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="/favicon-16x16.png"
        />
        <link rel="manifest" href="/site.webmanifest" />

        <ImageSupportDetection />
        <GoogleFontsOptimizer
            url="https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;900&display=block"
        />
        <meta http-equiv="Accept-CH" content="DPR, Width, Viewport-Width" />
        <meta charset="UTF-8" />

        <meta
            name="viewport"
            content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0"
        />

        <!-- <script type="text/partytown" src="fancy-analytics.js"></script> -->

        <meta name="keywords" content="" />
        <AstroSeo
            title="Flying Fast Websites"
            description="A short description goes here."
            canonical="https://betterize.pl"
        />
    </head>
    <body>
        <script type="module">
            import { onMount } from "astro";

            function loadAfterLCP(url, callback) {
                // ...
            }

            onMount(() => {
                // Wywołaj funkcję "loadAfterLCP" dla każdego linku na stronie (tj. <a href="...">...</a>)
                const links = document.querySelectorAll("a");
                links.forEach((link) => {
                    link.addEventListener("click", (event) => {
                        // Zablokuj domyślną akcję dla kliknięcia na link (przejście do innej strony)
                        event.preventDefault();
                        const url = link.href;

                        // Wywołaj funkcję "loadAfterLCP", aby załadować LCP przed przejściem do żądanej strony
                        loadAfterLCP(url, () => {
                            window.location.href = url;
                        });
                    });
                });
            });
        </script>
        <slot />
    </body>
</html>
