---
import "../styles/styles.css";
import { ImageSupportDetection } from "astro-imagetools/components";
import { AstroSeo } from "@astrolib/seo";

// import partytown from "/src/utils/partytown.js";

interface Props {
    title?: string;
    description?: string;
}

const { title, description } = Astro.props as Props;
---

<!DOCTYPE html>
<html class="scroll-smooth" lang="pl">
    <head>
        <meta charset="UTF-8" />
        <!--  to musi zawsze być na 1 miejscu w headzie! -->
        <link
            rel="apple-touch-icon"
            sizes="180x180"
            href="/apple-touch-icon.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="/favicon-32x32.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="/favicon-16x16.png"
        />
        <link rel="manifest" href="/site.webmanifest" />

        <ImageSupportDetection />

        <link
            rel="preload"
            href="/assets/fonts/Roboto_normal_400.KFOmCnqEu92Fr1Mu7GxKOzY.woff2"
            as="font"
            type="font/woff2"
            crossorigin
        />

        <link
            rel="preload"
            href="/assets/fonts/Roboto_normal_400.KFOmCnqEu92Fr1Mu4mxK.woff2"
            as="font"
            type="font/woff2"
            crossorigin
        />

        <link
            rel="preload"
            href="/assets/fonts/Roboto_normal_700.KFOlCnqEu92Fr1MmWUlfChc4EsA.woff2"
            as="font"
            type="font/woff2"
            crossorigin
        />

        <link
            rel="preload"
            href="/assets/fonts/Roboto_normal_700.KFOlCnqEu92Fr1MmWUlfBBc4.woff2"
            as="font"
            type="font/woff2"
            crossorigin
        />

        <link
            rel="preload"
            href="/assets/fonts/Roboto_normal_900.KFOlCnqEu92Fr1MmYUtfChc4EsA.woff2"
            as="font"
            type="font/woff2"
            crossorigin
        />

        <link
            rel="preload"
            href="/assets/fonts/Roboto_normal_900.KFOlCnqEu92Fr1MmYUtfBBc4.woff2"
            as="font"
            type="font/woff2"
            crossorigin
        />

        <link href="/assets/styles/fonts.css" rel="stylesheet" />

        <meta http-equiv="Accept-CH" content="DPR, Width, Viewport-Width" />

        <meta
            name="viewport"
            content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0"
        />

        <!-- Google Analitics -->
        <script
            type="text/partytown"
            src="https://www.googletagmanager.com/gtag/js?id=G-HTVZ0JDPP8"
        ></script>
        <script type="text/partytown">
            window.dataLayer = window.dataLayer || [];
            function gtag() {
                dataLayer.push(arguments);
            }
            gtag("js", new Date());
            gtag("config", "G-HTVZ0JDPP8");
        </script>

        <!-- Google Tag Manager -->
        <script type="text/partytown">
            (function (w, d, s, l, i) {
                w[l] = w[l] || [];
                w[l].push({
                    "gtm.start": new Date().getTime(),
                    event: "gtm.js",
                });
                var f = d.getElementsByTagName(s)[0],
                    j = d.createElement(s),
                    dl = l != "dataLayer" ? "&l=" + l : "";
                j.async = true;
                j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
                f.parentNode.insertBefore(j, f);
            })(window, document, "script", "dataLayer", "GTM-MXS329Q");
        </script>
        <!-- End Google Tag Manager -->

        <meta name="keywords" content="" />
        <AstroSeo
            canonical={Astro.url.href}
            title={title}
            description={description}
        />
    </head>
    <body>
        <!-- Google Tag Manager (noscript) -->
        <noscript type="text/partytown"
            ><iframe
                src="https://www.googletagmanager.com/ns.html?id=GTM-MXS329Q"
                height="0"
                width="0"
                style="display:none;visibility:hidden"></iframe></noscript
        >
        <!-- End Google Tag Manager (noscript) -->
        <slot />
    </body>
</html>
