---
import { AstroSeo } from "@astrolib/seo";
import "../styles/styles.css";
import { GoogleFontsOptimizer } from "astro-google-fonts-optimizer";
import { ImageSupportDetection } from "astro-imagetools/components";

// import partytown from "/src/utils/partytown.js";
---

<html class="scroll-smooth" lang="pl">
    <head>
        <ImageSupportDetection />
        <GoogleFontsOptimizer
            url="https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;900&display=swap"
        />
        <meta charset="UTF-8" />
        <link rel="canonical" href="https://betterize.pl" />

        <meta
            name="viewport"
            content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0"
        />

        <!-- <script type="text/partytown" src="fancy-analytics.js"></script> -->

        <meta name="keywords" content="" />
        <AstroSeo
            title="Simple Usage Example"
            description="A short description goes here."
            canonical="Set the page canonical url"
        />
    </head>
    <body>
        <slot />
    </body>
</html>
