---
interface Props {
    code: string;
}

const { code } = Astro.props;
---

<div class="flex items-center w-full p-4 mb-2 bg-gray-800 rounded-md">
    <p class="w-full text-light">{code}</p>
</div>
