---
interface Props {
    text: string;
    level: number;
}

const { text, level } = Astro.props;

function getHeader() {
    if (level >= 2 && level <= 6) {
        return `<h${level} class="mt-20 mb-6 text-3xl font-bold">${text}</h${level}>`;
    } else {
        return `<h2 class="mt-20 mb-6 text-3xl">Invalid header value given</h2>`;
    }
}

const htmlString = getHeader();
---

<Fragment set:html={htmlString} />
