---
enum Style {
    Ordered = "ordered",
    Unordered = "unordered",
}

interface Props {
    style: Style;
    items: [string];
}

const { style, items } = Astro.props;
---

<div class="px-10">
    {
        () => {
            if (style == Style.Ordered) {
                return items.map((item: string, index: number) => (
                    <li>
                        {index + 1}
                        <Fragment set:html={item} />
                    </li>
                ));
            } else {
                return items.map((item: string) => (
                    <li>
                        <Fragment set:html={item} />
                    </li>
                ));
            }
        }
    }
</div>
