---
interface Props {
    text: string;
    caption: string;
}

const { text, caption } = Astro.props;
---

<div class="bg-gray-600">
    <Fragment set:html={text} />
    <Fragment set:html={caption} />
</div>
